openapi: 3.0.4
info:
  title: VCF Fleet LCM Service APIs
  version: 9.1.0.0
servers:
- description: VCF Fleet LCM Service APIs
  url: https://vcf.broadcom.com/fleet-lcm
security:
- bearerToken: []
tags:
- description: Fleet LCM Health APIs.
  name: Health
- description: Fleet LCM Configuration APIs.
  name: Config
- description: APIs for managing SDDC LCM registrations with Fleet LCM.
  name: SDDC LCM
- description: "Component installation, import, reconfiguration or backup APIs. These\
    \ APIs are subject to change in future VCF releases. Appropriate details around\
    \ such changes will be provided."
  name: Components
- description: "API to Generate, Download and Destroy component support bundles."
  name: SupportBundles
- description: Task APIs
  name: Task
- description: Network and server connectivity APIs.
  name: Network
- description: APIs for managing service registry capabilities.
  name: ServiceCapabilities
- description: Resources calculation APIs
  name: Resources
- description: Supported components APIs
  name: SupportedComponents
- description: APIs for managing upgrade plans. These APIs are subject to change in
    future VCF releases. Appropriate details around such changes will be provided.
  name: Upgrade Plan
- description: APIs for querying available release versions
  name: Release Version
- name: Fleet LCM System
paths:
  /v1/health:
    get:
      description: Get Fleet LCM Health.
      operationId: getHealth
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Health'
          description: OK
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      security: []
      tags:
      - Health
  /v1/config:
    get:
      description: Retrieve the current configuration of Fleet LCM.
      operationId: getConfig
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Config'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The specified resource was not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      tags:
      - Config
    post:
      description: Configure Fleet LCM by providing management VSP cluster's details.
      operationId: setConfig
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigSpec'
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      tags:
      - Config
  /v1/sddc-lcms:
    get:
      description: Get all SDDC LCMs registered with Fleet LCM.
      operationId: getSddcLcms
      parameters:
      - description: Backup schedule enabled.
        explode: true
        in: query
        name: backupScheduleEnabled
        required: false
        schema:
          type: boolean
        style: form
      - description: Backup storage configuration present.
        explode: true
        in: query
        name: backupStorageConfigured
        required: false
        schema:
          type: boolean
        style: form
      - description: "Page Number (1-based, defaults to 1)"
        explode: true
        in: query
        name: pageNumber
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - description: Page Size. Maximum allowed is 100
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SddcLcms'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      tags:
      - SDDC LCM
    patch:
      description: Bulk update of SDDC LCM endpoint configuration
      operationId: updateSddcLcms
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SddcLcmUpdateSpecs'
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      tags:
      - SDDC LCM
    post:
      description: Register SDDC LCM with Fleet LCM.
      operationId: registerSddcLcm
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SddcLcmRegisterSpec'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SddcLcmRegistrationResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The specified resource was not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      tags:
      - SDDC LCM
  /v1/sddc-lcms/{sddcLcmId}:
    get:
      description: Get a registered SDDC LCM by ID.
      operationId: getSddcLcm
      parameters:
      - description: Id of SDDC LCM.
        explode: true
        in: path
        name: sddcLcmId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SddcLcm'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The specified resource was not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      tags:
      - SDDC LCM
    patch:
      description: Update SDDC LCM details (such as Fleet Depot associated with it).
      operationId: updateSddcLcm
      parameters:
      - description: Id of SDDC LCM.
        explode: true
        in: path
        name: sddcLcmId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SddcLcmUpdateSpec'
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      tags:
      - SDDC LCM
  /v1/sddc-lcms/{sddcLcmId}/refresh:
    post:
      description: |
        Initiate an SDDC LCM refresh to sync inventory, component status, and configuration information from the SDDC LCM instance.
      operationId: refreshSddcLcm
      parameters:
      - description: Id of SDDC LCM.
        explode: true
        in: path
        name: sddcLcmId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
          description: Accepted
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      tags:
      - SDDC LCM
  /v1/sddc-lcms/{sddcLcmId}/backups:
    get:
      description: List backups for a SDDC LCM. Implicitly sorted by name.
      operationId: getSddcLcmBackups
      parameters:
      - description: Id of SDDC LCM.
        explode: true
        in: path
        name: sddcLcmId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Component ID.
        explode: true
        in: query
        name: componentId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: "The earliest date for which to list items, formatted as 2025-09-12T16:09:53Z."
        explode: true
        in: query
        name: periodStart
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "The latest date for which to list items, formatted as 2025-09-12T16:09:53Z."
        explode: true
        in: query
        name: periodEnd
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "Page Number (1-based, defaults to 1)"
        explode: true
        in: query
        name: pageNumber
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - description: Page Size. Maximum allowed is 100
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComponentBackups'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The specified resource was not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      tags:
      - SDDC LCM
    post:
      description: Initiate a backup or restore for the components in this SDDC LCM.
      operationId: backupRestoreSddcLcmAction
      parameters:
      - description: Id of SDDC LCM.
        explode: true
        in: path
        name: sddcLcmId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BackupRestoreSpec'
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The specified resource was not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      tags:
      - SDDC LCM
  /v1/sddc-lcms/{sddcLcmId}/inventory/datastores:
    get:
      description: List inventory datastores for a SDDC LCM.
      operationId: getSddcLcmInventoryDatastores
      parameters:
      - description: Id of SDDC LCM.
        explode: true
        in: path
        name: sddcLcmId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "Page Number (1-based, defaults to 1)"
        explode: true
        in: query
        name: pageNumber
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - description: Page Size. Maximum allowed is 100
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InventoryDatastores'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The specified resource was not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      tags:
      - SDDC LCM
  /v1/components:
    get:
      description: Get components by filter criteria and helps paginate based on sddclcms.
      operationId: getComponents
      parameters:
      - description: SDDC LCM identifier to filter by.
        explode: true
        in: query
        name: sddcLcmId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: The fqdn of the VSP cluster on which the components to filter
          for are deployed.
        explode: true
        in: query
        name: vspClusterFqdn
        required: false
        schema:
          type: string
        style: form
      - description: Component scope to filter by.
        explode: true
        in: query
        name: scope
        required: false
        schema:
          enum:
          - FLEET
          - INSTANCE
          type: string
        style: form
      - description: Whether backup is allowed or not for this component.
        explode: true
        in: query
        name: backupAllowed
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the vsp consumption cluster.
        explode: true
        in: query
        name: includeConsumptionVsp
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to include the VCD Migrator component.
        explode: true
        in: query
        name: includeVcdMigrator
        required: false
        schema:
          type: boolean
        style: form
      - description: "Page Number (1-based, defaults to 1)"
        explode: true
        in: query
        name: pageNumber
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - description: Page Size. Maximum allowed is 100
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Components'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      tags:
      - Components
    post:
      description: Install new or import existing component(s).
      operationId: createComponents
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComponentSpecs'
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      tags:
      - Components
  /v1/components/validations:
    post:
      description: Validate input for installing new or import existing component(s).
      operationId: validateCreateComponents
      parameters:
      - in: header
        name: Accept-Language
        required: false
        schema:
          example: en-US
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComponentSpecs'
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      tags:
      - Components
  /v1/components/status:
    post:
      description: Fetches the status fields for components with the given ids.
      operationId: fetchComponentStatuses
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComponentStatusesSpec'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComponentStatuses'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The specified resource was not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      tags:
      - Components
  /v1/components/{componentId}:
    get:
      description: Get a Component.
      operationId: getComponent
      parameters:
      - description: Component Identifier.
        explode: true
        in: path
        name: componentId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The specified resource was not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      tags:
      - Components
    patch:
      description: Update component deployment by scaling out (adding more nodes to
        it).
      operationId: updateComponent
      parameters:
      - description: Component Identifier.
        explode: true
        in: path
        name: componentId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComponentUpdateSpec'
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      tags:
      - Components
    post:
      description: "Perform an action on a component. Supported actions include refresh,\
        \ shutdown, restart, start."
      operationId: performComponentAction
      parameters:
      - description: Component Identifier.
        explode: true
        in: path
        name: componentId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Component action to perform.
        explode: true
        in: query
        name: action
        required: true
        schema:
          enum:
          - shutdown
          - restart
          - start
          - refresh
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/performComponentAction_request'
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The specified resource was not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      tags:
      - Components
  /v1/components/{componentId}/validations:
    post:
      description: Validate the input for updating component deployment.
      operationId: validateUpdateComponent
      parameters:
      - in: header
        name: Accept-Language
        required: false
        schema:
          example: en-US
          type: string
      - description: Component Identifier.
        explode: true
        in: path
        name: componentId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComponentUpdateSpec'
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      tags:
      - Components
  /v1/components/{componentId}/config:
    get:
      description: Get a Component's config.
      operationId: getComponentConfig
      parameters:
      - description: Component Identifier.
        explode: true
        in: path
        name: componentId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComponentConfig'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The specified resource was not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      tags:
      - Components
    patch:
      description: Update a Component's config.
      operationId: updateComponentConfig
      parameters:
      - description: Component Identifier.
        explode: true
        in: path
        name: componentId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComponentConfigUpdateSpec'
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The specified resource was not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      tags:
      - Components
  /v1/components/{componentId}/config/validations:
    post:
      description: Validate the input for updating a Component's config.
      operationId: validateUpdateComponentConfig
      parameters:
      - in: header
        name: Accept-Language
        required: false
        schema:
          example: en-US
          type: string
      - description: Component Identifier.
        explode: true
        in: path
        name: componentId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComponentConfigUpdateSpec'
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      tags:
      - Components
  /v1/components/{componentId}/nodes:
    get:
      description: List a Component's nodes.
      operationId: getComponentNodes
      parameters:
      - description: Component Identifier.
        explode: true
        in: path
        name: componentId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "Page Number (1-based, defaults to 1)"
        explode: true
        in: query
        name: pageNumber
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - description: Page Size. Maximum allowed is 100
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: Comma-separated list of node types
        example: "control-plane,worker"
        explode: true
        in: query
        name: nodeTypes
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Nodes'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The specified resource was not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      tags:
      - Components
  /v1/components/{componentId}/status:
    get:
      description: Get a Component's status.
      operationId: getComponentStatus
      parameters:
      - description: Component Identifier.
        explode: true
        in: path
        name: componentId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComponentStatus'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The specified resource was not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      tags:
      - Components
  /v1/components/{componentId}/support-bundles:
    get:
      description: List a Component's Support bundles.
      operationId: getComponentSupportBundles
      parameters:
      - description: Component Identifier.
        explode: true
        in: path
        name: componentId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SupportBundle'
                type: array
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The specified resource was not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      tags:
      - SupportBundles
    post:
      description: Generates a component support bundle.
      operationId: generateComponentSupportBundle
      parameters:
      - description: Component Identifier.
        explode: true
        in: path
        name: componentId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComponentSupportBundleSpec'
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      tags:
      - SupportBundles
  /v1/components/{componentId}/support-bundles/{supportBundleId}:
    delete:
      description: Delete a Component Support bundle.
      operationId: deleteComponentSupportBundle
      parameters:
      - description: Component Identifier.
        explode: true
        in: path
        name: componentId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Support Bundle Identifier.
        explode: true
        in: path
        name: supportBundleId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
          description: Accepted
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The specified resource was not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      tags:
      - SupportBundles
  /v1/components/generated-passwords:
    post:
      description: Generates a password meeting the password complexity requirements
        for all components.
      operationId: generatePassword
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneratedPasswordResponse'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      tags:
      - Components
  /v1/components/resource-requirements:
    post:
      description: Get VCF Resource Requirement.
      operationId: getResourceRequirements
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComponentResourceRequirementsSpecs'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComponentsResourceRequirements'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      tags:
      - Resources
  /v1/components/resource-sizes:
    get:
      description: Get supported sizes for component
      operationId: getResourceSizes
      parameters:
      - description: Component name
        explode: true
        in: query
        name: componentType
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComponentResourceSizes'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The specified resource was not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      tags:
      - Resources
  /v1/components/supported-types:
    get:
      description: Get list of supported component types for deployment based on the
        Fleet LCM deployment flavor.
      operationId: getSupportedComponentTypes
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SupportedComponentType'
                type: array
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The specified resource was not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      tags:
      - SupportedComponents
  /v1/address-attributes:
    post:
      description: |
        Retrieve attributes (thumbprints, resolved IPs) for specified server addresses and ports (if applicable).
        If query parameter 'type' is 'SSH_THUMBPRINT' and the port for a given ServerAddress is not specified, it will default to 22.
      operationId: addressAttributes
      parameters:
      - description: Type of attribute to retrieve.
        explode: true
        in: query
        name: type
        required: true
        schema:
          enum:
          - SSH_THUMBPRINT
          - SSL_THUMBPRINT
          - CERTIFICATE
          - IPV4
          - IPV6
          example: SSH_THUMBPRINT
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              example:
              - address: vm.example.com
                port: 22
              - address: infra.test.net
                port: 2222
              items:
                $ref: '#/components/schemas/ServerAddress'
              type: array
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AddressAttribute'
                type: array
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      tags:
      - Network
  /v1/tasks:
    get:
      description: Get all tasks
      operationId: getTasks
      parameters:
      - description: Task Status
        explode: true
        in: query
        name: status
        required: false
        schema:
          type: string
        style: form
      - description: Task Type
        explode: true
        in: query
        name: type
        required: false
        schema:
          type: string
        style: form
      - description: Filter tasks by creator (username or service account)
        in: query
        name: createdBy
        required: false
        schema:
          type: string
      - description: Filter tasks by name (internal name)
        in: query
        name: name
        required: false
        schema:
          type: string
      - description: Filter tasks by description (public name for the task)
        in: query
        name: description
        required: false
        schema:
          type: string
      - description: Filter tasks with start time greater than the specified timestamp
          (ISO 8601 format)
        in: query
        name: startTimeGt
        required: false
        schema:
          format: date-time
          type: string
      - description: Filter tasks with start time less than the specified timestamp
          (ISO 8601 format)
        in: query
        name: startTimeLt
        required: false
        schema:
          format: date-time
          type: string
      - description: Filter tasks with update time greater than the specified timestamp
          (ISO 8601 format)
        in: query
        name: updateTimeGt
        required: false
        schema:
          format: date-time
          type: string
      - description: Filter tasks with update time less than the specified timestamp
          (ISO 8601 format)
        in: query
        name: updateTimeLt
        required: false
        schema:
          format: date-time
          type: string
      - description: Filter tasks with end time greater than the specified timestamp
          (ISO 8601 format)
        in: query
        name: endTimeGt
        required: false
        schema:
          format: date-time
          type: string
      - description: Filter tasks with end time less than the specified timestamp
          (ISO 8601 format)
        in: query
        name: endTimeLt
        required: false
        schema:
          format: date-time
          type: string
      - description: Filter tasks by resource ID
        in: query
        name: resourceId
        required: false
        schema:
          type: string
      - description: Filter tasks by resource type
        in: query
        name: resourceType
        required: false
        schema:
          type: string
      - description: Whether to include system/internal tasks in the response. Defaults
          to false (only customer-visible tasks).
        in: query
        name: includeSystemTasks
        required: false
        schema:
          default: false
          type: boolean
      - description: "Page Number (1-based, defaults to 1)"
        explode: true
        in: query
        name: pageNumber
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - description: Page Size. Maximum allowed is 100
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageOfTaskSummary'
          description: OK
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageOfTaskSummary'
          description: Internal Server Error
      summary: Get all tasks
      tags:
      - Task
  /v1/tasks/{taskId}:
    get:
      description: Get a task
      operationId: getTask
      parameters:
      - description: Task Id
        explode: true
        in: path
        name: taskId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Get a task
      tags:
      - Task
  /v1/tasks/{taskId}?action=retry:
    post:
      description: Retry a failed task from the underlying stage that failed
      operationId: retryTask
      parameters:
      - description: Task Id
        explode: true
        in: path
        name: taskId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
          description: Task retry initiated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Bad Request - Task cannot be retried (e.g., task is not in\
            \ a failed state)"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Retry a failed task
      tags:
      - Task
  /v1/tasks/{taskId}?action=cancel:
    post:
      description: "Cancel a task. The running stage will continue until it reaches\
        \ a terminal state, but subsequent stages will not be executed."
      operationId: cancelTask
      parameters:
      - description: Task Id
        explode: true
        in: path
        name: taskId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
          description: Task cancellation initiated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Bad Request - Task cannot be cancelled (e.g., task is already\
            \ completed or cancelled)"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Cancel a task
      tags:
      - Task
  /v1/upgrade-plans/validations:
    post:
      description: Validate upgrade plan
      operationId: validateUpgradePlan
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpgradePlanSpec'
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      security: []
      tags:
      - Upgrade Plan
  /v1/upgrade-plans:
    get:
      description: Get upgrade plans
      operationId: getUpgradePlans
      parameters:
      - description: "Page Number (1-based, defaults to 1)"
        explode: true
        in: query
        name: pageNumber
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - description: Page Size. Maximum allowed is 100
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageOfUpgradePlanSummaries'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      security: []
      tags:
      - Upgrade Plan
    post:
      description: |
        Creates a new upgrade plan or updates an existing one if a match is found (e.g., based on a unique identifier in the request body).
      operationId: createUpgradePlan
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUpgradePlanRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpgradePlan'
          description: OK - Existing upgrade plan was successfully updated.
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpgradePlan'
          description: Created - A new upgrade plan was successfully created.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      security: []
      tags:
      - Upgrade Plan
  /v1/upgrade-plans/{planId}:
    get:
      description: Get an upgrade plan with optional component filtering by status
        and target version
      operationId: getUpgradePlan
      parameters:
      - description: Upgrade Plan Id
        explode: true
        in: path
        name: planId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Components Page Number
        explode: true
        in: query
        name: componentsPageNumber
        required: false
        schema:
          type: integer
        style: form
      - description: Components Page Size. Maximum allowed is 100
        explode: true
        in: query
        name: componentsPageSize
        required: false
        schema:
          type: integer
        style: form
      - description: Filter components by SDDC LCM ID. Multiple values can be provided
          as comma-separated list.
        explode: true
        in: query
        name: componentSddcLcmId
        required: false
        schema:
          example:
          - c5abbd8c-b94e-40d3-bc0e-68e9b0a4489a
          - 2547462d-f206-4e18-abf8-7a413aaba306
          items:
            format: uuid
            type: string
          type: array
          uniqueItems: true
        style: form
      - description: Filter components by status. Multiple values can be provided
          as comma-separated list.
        explode: true
        in: query
        name: componentStatus
        required: false
        schema:
          example:
          - ELIGIBLE
          - PENDING
          items:
            $ref: '#/components/schemas/UpgradePlanComponentEligibilityStatus'
          type: array
          uniqueItems: true
        style: form
      - description: "Filter components by target version(allows usage of partial\
          \ matching). Multiple values can be provided as comma-separated list. Each\
          \ filter value will match any component whose target version starts with\
          \ the filter value (e.g., '9.1' matches '9.1.0.0', '9.1.1.0', etc.)."
        explode: true
        in: query
        name: componentTargetVersion
        required: false
        schema:
          example:
          - "9.1"
          - "9.2"
          items:
            type: string
          type: array
          uniqueItems: true
        style: form
      - description: "Filter components by current version(allows usage of partial\
          \ matching). Multiple values can be provided as comma-separated list. Each\
          \ filter value will match any component whose current version starts with\
          \ the filter value (e.g., '9.1' matches '9.1.0.0', '9.1.1.0', etc.)."
        explode: true
        in: query
        name: componentCurrentVersion
        required: false
        schema:
          example:
          - "9.1"
          - "9.2"
          items:
            type: string
          type: array
          uniqueItems: true
        style: form
      - description: Filter components by public name using partial matching (case-insensitive).
          Multiple values can be provided as comma-separated list. Each filter value
          will match any component whose public name contains the filter value.
        explode: true
        in: query
        name: componentPublicName
        required: false
        schema:
          example:
          - VCF Fleet LCM
          - VCF Observability Data Platform
          items:
            type: string
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpgradePlan'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The specified resource was not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      security: []
      tags:
      - Upgrade Plan
    patch:
      description: Update spec of an upgrade plan
      operationId: updateUpgradePlan
      parameters:
      - description: Upgrade Plan Id
        explode: true
        in: path
        name: planId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUpgradePlanRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpgradePlan'
          description: Ok
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      security: []
      tags:
      - Upgrade Plan
  /v1/upgrade-plans/{planId}?action=precheck:
    post:
      description: Perform precheck on an upgrade plan.
      operationId: precheckUpgradePlan
      parameters:
      - description: Upgrade Plan Id
        explode: true
        in: path
        name: planId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpgradePlanActionRequest'
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      security: []
      tags:
      - Upgrade Plan
  /v1/upgrade-plans/{planId}?action=apply:
    post:
      description: Apply an upgrade plan.
      operationId: applyUpgradePlan
      parameters:
      - description: Upgrade Plan Id
        explode: true
        in: path
        name: planId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpgradePlanActionRequest'
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      security: []
      tags:
      - Upgrade Plan
  /v1/upgrade-plans/{planId}?action=configure:
    post:
      description: Perform configuration on an upgrade plan.
      operationId: configureUpgradePlan
      parameters:
      - description: Upgrade Plan Id
        explode: true
        in: path
        name: planId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpgradePlanActionRequest'
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      tags:
      - Upgrade Plan
  /v1/upgrade-plans/{planId}/bundles:
    get:
      description: Get Bundle status of an upgrade plan
      operationId: getUpgradePlanBundles
      parameters:
      - description: Upgrade Plan Id
        explode: true
        in: path
        name: planId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: "Page Number (1-based, defaults to 1)"
        explode: true
        in: query
        name: pageNumber
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - description: Page Size. Maximum allowed is 100
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: The bundle type
        explode: true
        in: query
        name: bundleType
        required: false
        schema:
          type: string
        style: form
      - description: The status of the component bundle
        explode: true
        in: query
        name: status
        required: false
        schema:
          items:
            $ref: '#/components/schemas/ComponentBundleStatus'
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageOfUpgradePlanBundles'
          description: Ok
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      security: []
      tags:
      - Upgrade Plan
  /v1/release-versions:
    get:
      description: Get release versions
      operationId: getReleaseVersions
      parameters:
      - description: "Page Number (1-based, defaults to 1)"
        explode: true
        in: query
        name: pageNumber
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - description: Page Size. Maximum allowed is 100
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageOfReleaseVersions'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      security: []
      tags:
      - Release Version
  /v1/release-versions/target-versions:
    get:
      description: Get applicable release target versions
      operationId: getTargetReleaseVersions
      parameters:
      - description: "Page Number (1-based, defaults to 1)"
        explode: true
        in: query
        name: pageNumber
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - description: Page Size. Maximum allowed is 100
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageOfReleaseVersions'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      security: []
      tags:
      - Release Version
  /v1/system:
    get:
      description: |
        Get Fleet LCM System details.
        When targetVersion is set, bundle details are included and can be filtered using parameters.

        Examples:
        - GET /v1/system - Fleet LCM System details
        - GET /v1/system?bundleType=PATCH - Fleet LCM System details with only patch bundles (when targetVersion set)
        - GET /v1/system?status=REQUIRED - Fleet LCM System details with only required bundles (when targetVersion set)
        - GET /v1/system?bundleType=PATCH&status=REQUIRED - Fleet LCM System details with combined filtering (when targetVersion set)
      operationId: getSystem
      parameters:
      - description: The bundle type
        explode: true
        in: query
        name: bundleType
        required: false
        schema:
          type: string
        style: form
      - description: The status of the component bundle
        explode: true
        in: query
        name: status
        required: false
        schema:
          items:
            $ref: '#/components/schemas/ComponentBundleStatus'
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      security: []
      tags:
      - Fleet LCM System
    post:
      description: |
        Manage Fleet LCM System upgrade plan.
        - without action: Configure target version
        - with action: Configure target version (if provided) and execute action
      operationId: performSystemUpgrade
      parameters:
      - description: Optional action to execute on Fleet LCM System
        explode: true
        in: query
        name: action
        required: false
        schema:
          $ref: '#/components/schemas/SystemAction'
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SystemUpgradeRequest'
        description: "Fleet LCM upgrade configuration. Either action query parameter,\
          \ targetVersion in the request body or both can be provided."
        required: false
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      security: []
      tags:
      - Fleet LCM System
  /v1/depot-metadata?action=sync:
    post:
      description: |
        Manually trigger depot metadata synchronization.

        This endpoint allows on-demand synchronization of depot metadata, which is typically
        scheduled to run automatically via cron job. The operation is asynchronous and
        returns a task ID for tracking the sync progress.

        The sync operation downloads and updates:
        - Product Version Catalog (PVC) from the depot service
        - Unified Release Manifest (URM) from the depot service

        **Concurrency Control:**
        - Only one depot metadata sync operation can run at a time
        - Returns the currently running task if a sync is already in progress
        - Conflicts can occur with both manual and scheduled sync operations

        **Examples:**
        - POST /v1/depot-metadata?action=sync - Trigger manual depot metadata sync
      operationId: syncDepotMetadata
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
          description: Accepted - Depot metadata sync task started or existing task
            returned
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request - Invalid request parameters
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      tags:
      - Depot Metadata
components:
  parameters:
    AcceptLanguageHeader:
      in: header
      name: Accept-Language
      required: false
      schema:
        example: en-US
        type: string
    componentActionQueryParam:
      description: Component action to perform.
      explode: true
      in: query
      name: action
      required: true
      schema:
        enum:
        - shutdown
        - restart
        - start
        - refresh
        type: string
      style: form
    componentIdPathParam:
      description: Component Identifier.
      explode: true
      in: path
      name: componentId
      required: true
      schema:
        format: uuid
        type: string
      style: simple
    sddcLcmIdPathParam:
      description: Id of SDDC LCM.
      explode: true
      in: path
      name: sddcLcmId
      required: true
      schema:
        format: uuid
        type: string
      style: simple
    componentFilterSddcLcmIdQueryParam:
      description: SDDC LCM identifier to filter by.
      explode: true
      in: query
      name: sddcLcmId
      required: false
      schema:
        format: uuid
        type: string
      style: form
    componentFilterVspClusterFqdnQueryParam:
      description: The fqdn of the VSP cluster on which the components to filter for
        are deployed.
      explode: true
      in: query
      name: vspClusterFqdn
      required: false
      schema:
        type: string
      style: form
    componentFilterScopeQueryParam:
      description: Component scope to filter by.
      explode: true
      in: query
      name: scope
      required: false
      schema:
        enum:
        - FLEET
        - INSTANCE
        type: string
      style: form
    componentFilterBackupAllowedQueryParam:
      description: Whether backup is allowed or not for this component.
      explode: true
      in: query
      name: backupAllowed
      required: false
      schema:
        type: boolean
      style: form
    componentFilterIncludeConsumptionVsp:
      description: Whether to include the vsp consumption cluster.
      explode: true
      in: query
      name: includeConsumptionVsp
      required: false
      schema:
        type: boolean
      style: form
    componentFilterIncludeVcdMigrator:
      description: Whether to include the VCD Migrator component.
      explode: true
      in: query
      name: includeVcdMigrator
      required: false
      schema:
        type: boolean
      style: form
    sddcLcmBackupScheduleEnabledQueryParam:
      description: Backup schedule enabled.
      explode: true
      in: query
      name: backupScheduleEnabled
      required: false
      schema:
        type: boolean
      style: form
    sddcLcmBackupStorageConfiguredQueryParam:
      description: Backup storage configuration present.
      explode: true
      in: query
      name: backupStorageConfigured
      required: false
      schema:
        type: boolean
      style: form
    sddcLcmIdComponentIdQueryParam:
      description: Component ID.
      explode: true
      in: query
      name: componentId
      required: false
      schema:
        format: uuid
        type: string
      style: form
    periodStartQueryParam:
      description: "The earliest date for which to list items, formatted as 2025-09-12T16:09:53Z."
      explode: true
      in: query
      name: periodStart
      required: false
      schema:
        format: date-time
        type: string
      style: form
    periodEndQueryParam:
      description: "The latest date for which to list items, formatted as 2025-09-12T16:09:53Z."
      explode: true
      in: query
      name: periodEnd
      required: false
      schema:
        format: date-time
        type: string
      style: form
    supportBundleIdPathParam:
      description: Support Bundle Identifier.
      explode: true
      in: path
      name: supportBundleId
      required: true
      schema:
        type: string
      style: simple
    addressAttributeTypeQueryParam:
      description: Type of attribute to retrieve.
      explode: true
      in: query
      name: type
      required: true
      schema:
        enum:
        - SSH_THUMBPRINT
        - SSL_THUMBPRINT
        - CERTIFICATE
        - IPV4
        - IPV6
        example: SSH_THUMBPRINT
        type: string
      style: form
    componentTypeParam:
      description: Component name
      explode: true
      in: query
      name: componentType
      required: true
      schema:
        type: string
      style: form
    taskIdPathParam:
      description: Task Id
      explode: true
      in: path
      name: taskId
      required: true
      schema:
        format: uuid
        type: string
      style: simple
    systemActionQueryParam:
      description: Optional action to execute on Fleet LCM System
      explode: true
      in: query
      name: action
      required: false
      schema:
        $ref: '#/components/schemas/SystemAction'
      style: form
    taskStatusQueryParam:
      description: Task Status
      explode: true
      in: query
      name: status
      required: false
      schema:
        type: string
      style: form
    taskTypeQueryParam:
      description: Task Type
      explode: true
      in: query
      name: type
      required: false
      schema:
        type: string
      style: form
    resourceIdQueryParam:
      description: Resource ID
      explode: true
      in: query
      name: resourceId
      required: false
      schema:
        type: string
      style: form
    resourceTypeQueryParam:
      description: Resource Type
      explode: true
      in: query
      name: resourceType
      required: false
      schema:
        type: string
      style: form
    componentsPageNumberQueryParam:
      description: Components Page Number
      explode: true
      in: query
      name: componentsPageNumber
      required: false
      schema:
        type: integer
      style: form
    componentsPageSizeQueryParam:
      description: Components Page Size. Maximum allowed is 100
      explode: true
      in: query
      name: componentsPageSize
      required: false
      schema:
        type: integer
      style: form
    pageNumberQueryParam:
      description: "Page Number (1-based, defaults to 1)"
      explode: true
      in: query
      name: pageNumber
      required: false
      schema:
        default: 1
        type: integer
      style: form
    pageSizeQueryParam:
      description: Page Size. Maximum allowed is 100
      explode: true
      in: query
      name: pageSize
      required: false
      schema:
        type: integer
      style: form
    bundleTypeQueryParam:
      description: The bundle type
      explode: true
      in: query
      name: bundleType
      required: false
      schema:
        type: string
      style: form
    statusQueryParam:
      description: The status of the component bundle
      explode: true
      in: query
      name: status
      required: false
      schema:
        items:
          $ref: '#/components/schemas/ComponentBundleStatus'
        type: array
      style: form
    upgradePlanIdPathParam:
      description: Upgrade Plan Id
      explode: true
      in: path
      name: planId
      required: true
      schema:
        format: uuid
        type: string
      style: simple
    componentSddcLcmIdFilterQueryParam:
      description: Filter components by SDDC LCM ID. Multiple values can be provided
        as comma-separated list.
      explode: true
      in: query
      name: componentSddcLcmId
      required: false
      schema:
        example:
        - c5abbd8c-b94e-40d3-bc0e-68e9b0a4489a
        - 2547462d-f206-4e18-abf8-7a413aaba306
        items:
          format: uuid
          type: string
        type: array
        uniqueItems: true
      style: form
    componentStatusFilterQueryParam:
      description: Filter components by status. Multiple values can be provided as
        comma-separated list.
      explode: true
      in: query
      name: componentStatus
      required: false
      schema:
        example:
        - ELIGIBLE
        - PENDING
        items:
          $ref: '#/components/schemas/UpgradePlanComponentEligibilityStatus'
        type: array
        uniqueItems: true
      style: form
    componentTargetVersionFilterQueryParam:
      description: "Filter components by target version(allows usage of partial matching).\
        \ Multiple values can be provided as comma-separated list. Each filter value\
        \ will match any component whose target version starts with the filter value\
        \ (e.g., '9.1' matches '9.1.0.0', '9.1.1.0', etc.)."
      explode: true
      in: query
      name: componentTargetVersion
      required: false
      schema:
        example:
        - "9.1"
        - "9.2"
        items:
          type: string
        type: array
        uniqueItems: true
      style: form
    componentCurrentVersionFilterQueryParam:
      description: "Filter components by current version(allows usage of partial matching).\
        \ Multiple values can be provided as comma-separated list. Each filter value\
        \ will match any component whose current version starts with the filter value\
        \ (e.g., '9.1' matches '9.1.0.0', '9.1.1.0', etc.)."
      explode: true
      in: query
      name: componentCurrentVersion
      required: false
      schema:
        example:
        - "9.1"
        - "9.2"
        items:
          type: string
        type: array
        uniqueItems: true
      style: form
    componentPublicNameFilterQueryParam:
      description: Filter components by public name using partial matching (case-insensitive).
        Multiple values can be provided as comma-separated list. Each filter value
        will match any component whose public name contains the filter value.
      explode: true
      in: query
      name: componentPublicName
      required: false
      schema:
        example:
        - VCF Fleet LCM
        - VCF Observability Data Platform
        items:
          type: string
        type: array
        uniqueItems: true
      style: form
    taskCreatedByQueryParam:
      description: Filter tasks by creator (username or service account)
      in: query
      name: createdBy
      required: false
      schema:
        type: string
    taskNameQueryParam:
      description: Filter tasks by name (internal name)
      in: query
      name: name
      required: false
      schema:
        type: string
    taskDescriptionQueryParam:
      description: Filter tasks by description (public name for the task)
      in: query
      name: description
      required: false
      schema:
        type: string
    taskStartTimeGtQueryParam:
      description: Filter tasks with start time greater than the specified timestamp
        (ISO 8601 format)
      in: query
      name: startTimeGt
      required: false
      schema:
        format: date-time
        type: string
    taskStartTimeLtQueryParam:
      description: Filter tasks with start time less than the specified timestamp
        (ISO 8601 format)
      in: query
      name: startTimeLt
      required: false
      schema:
        format: date-time
        type: string
    taskUpdateTimeGtQueryParam:
      description: Filter tasks with update time greater than the specified timestamp
        (ISO 8601 format)
      in: query
      name: updateTimeGt
      required: false
      schema:
        format: date-time
        type: string
    taskUpdateTimeLtQueryParam:
      description: Filter tasks with update time less than the specified timestamp
        (ISO 8601 format)
      in: query
      name: updateTimeLt
      required: false
      schema:
        format: date-time
        type: string
    taskEndTimeGtQueryParam:
      description: Filter tasks with end time greater than the specified timestamp
        (ISO 8601 format)
      in: query
      name: endTimeGt
      required: false
      schema:
        format: date-time
        type: string
    taskEndTimeLtQueryParam:
      description: Filter tasks with end time less than the specified timestamp (ISO
        8601 format)
      in: query
      name: endTimeLt
      required: false
      schema:
        format: date-time
        type: string
    taskResourceIdQueryParam:
      description: Filter tasks by resource ID
      in: query
      name: resourceId
      required: false
      schema:
        type: string
    taskResourceTypeQueryParam:
      description: Filter tasks by resource type
      in: query
      name: resourceType
      required: false
      schema:
        type: string
    includeSystemTasksQueryParam:
      description: Whether to include system/internal tasks in the response. Defaults
        to false (only customer-visible tasks).
      in: query
      name: includeSystemTasks
      required: false
      schema:
        default: false
        type: boolean
  responses:
    BadRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: Bad request.
    NotFound:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: The specified resource was not found
    Unauthorized:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: Unauthorized
    InternalServerError:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: Internal server error
    ServiceUnavailable:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: Unauthorized
  schemas:
    Health:
      example:
        up: true
      properties:
        up:
          type: boolean
      type: object
    ServiceStatus:
      description: A common status object to define the health of a service.
      enum:
      - HEALTHY
      - OFFLINE
      type: string
    ConfigSpec:
      example:
        deploymentFlavor: VCF
        fleetDepot:
          fqdn: fqdn
      properties:
        fleetDepot:
          $ref: '#/components/schemas/FleetDepotSpec'
        deploymentFlavor:
          description: Deployment flavor of the Fleet LCM
          example: VCF
          type: string
      title: Fleet LCM configuration input
      type: object
    Config:
      example:
        deploymentFlavor: VCF
        vspCluster:
          fqdn: fqdn
          certificate: certificate
          id: id
          type: MANAGEMENT
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        version: version
        status: HEALTHY
      properties:
        id:
          format: uuid
          type: string
        version:
          type: string
        status:
          $ref: '#/components/schemas/ServiceStatus'
        vspCluster:
          $ref: '#/components/schemas/VspCluster'
        deploymentFlavor:
          example: VCF
          type: string
      title: Fleet LCM configuration
      type: object
    ComponentSupportBundleSpec:
      description: Component Support bundle Spec
      example:
        lookBackWindow: 0
      properties:
        lookBackWindow:
          type: integer
      type: object
    SupportBundle:
      example:
        size: 0
        createdTimestamp: 2000-01-23T04:56:07.000+00:00
        name: name
        id: id
        url: https://openapi-generator.tech
      properties:
        id:
          type: string
        createdTimestamp:
          description: Time when the operation is started.
          format: date-time
          type: string
        size:
          description: Size of support bundle in bytes
          format: int64
          type: integer
        name:
          description: File name of the support bundle
          type: string
        url:
          description: Download URL of the support bundle from VMSP
          format: uri
          type: string
      required:
      - id
      type: object
    SddcLcmRegisterSpec:
      description: Represents SDDC LCM details used to register it with Fleet LCM.
      example:
        fqdn: fqdn
        platformFqdn: platformFqdn
        vcenter:
          fqdn: fqdn
          certificate: certificate
          id: id
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        fleetDepot:
          fqdn: fqdn
        sddcGroup:
          fqdn: fqdn
          name: name
          certificate: certificate
          id: id
      properties:
        id:
          description: SDDC LCM identifier.
          format: uuid
          type: string
        fqdn:
          description: SDDC LCM service fqdn.
          type: string
        platformFqdn:
          description: SDDC LCM's VSP platform fqdn
          type: string
        sddcGroup:
          $ref: '#/components/schemas/SddcGroupSpec'
        fleetDepot:
          $ref: '#/components/schemas/FleetDepotSpec'
        vcenter:
          $ref: '#/components/schemas/VcenterSpec'
      required:
      - fqdn
      - id
      - platformFqdn
      - sddcGroup
      title: SDDC LCM Register Spec
      type: object
    SddcLcmRegistrationResponse:
      description: Represents SDDC LCM details received after successful registration
        with Fleet LCM.
      example:
        instanceId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        clientId: clientId
        clientName: clientName
        clientSecret: clientSecret
      properties:
        instanceId:
          description: The instance identifier of the Fleet LCM.
          format: uuid
          type: string
        clientId:
          description: Service account client identifier.
          type: string
        clientSecret:
          description: Service account client secret.
          type: string
        clientName:
          description: The client name used during creation.
          type: string
      required:
      - clientId
      - clientName
      - clientSecret
      - instanceId
      title: SDDC LCM Registration Response
      type: object
    SddcLcmUpdateSpecs:
      example:
        sddcLcmUpdateSpecs:
        - fleetDepot:
            fqdn: fqdn
          backupConfigSpec:
            incrementalSchedule:
              interval: 1
              fallbackToFull: true
              enabled: true
            encryptionPassphrase: encryptionPassphrase
            storage:
              sftp:
                password: password
                port: port
                host: host
                thumbprint: thumbprint
                directory: directory
                username: username
            retention:
              maxBackups: 1
              maxAgeBackups: 1
            fullSchedule:
              schedule:
                days:
                - MON
                - TUE
                - WED
                - THU
                - FRI
                - SAT
                - SUN
                startTime: startTime
              enabled: true
          sddcLcmId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        - fleetDepot:
            fqdn: fqdn
          backupConfigSpec:
            incrementalSchedule:
              interval: 1
              fallbackToFull: true
              enabled: true
            encryptionPassphrase: encryptionPassphrase
            storage:
              sftp:
                password: password
                port: port
                host: host
                thumbprint: thumbprint
                directory: directory
                username: username
            retention:
              maxBackups: 1
              maxAgeBackups: 1
            fullSchedule:
              schedule:
                days:
                - MON
                - TUE
                - WED
                - THU
                - FRI
                - SAT
                - SUN
                startTime: startTime
              enabled: true
          sddcLcmId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        sddcLcmUpdateSpecs:
          items:
            $ref: '#/components/schemas/SddcLcmUpdateSpec'
          type: array
      type: object
    SddcLcmUpdateSpec:
      description: Used to update SDDC LCM details.
      example:
        fleetDepot:
          fqdn: fqdn
        backupConfigSpec:
          incrementalSchedule:
            interval: 1
            fallbackToFull: true
            enabled: true
          encryptionPassphrase: encryptionPassphrase
          storage:
            sftp:
              password: password
              port: port
              host: host
              thumbprint: thumbprint
              directory: directory
              username: username
          retention:
            maxBackups: 1
            maxAgeBackups: 1
          fullSchedule:
            schedule:
              days:
              - MON
              - TUE
              - WED
              - THU
              - FRI
              - SAT
              - SUN
              startTime: startTime
            enabled: true
        sddcLcmId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        sddcLcmId:
          format: uuid
          type: string
        fleetDepot:
          $ref: '#/components/schemas/FleetDepotSpec'
        backupConfigSpec:
          $ref: '#/components/schemas/BackupConfigSpec'
      title: SDDC LCM Update Spec
      type: object
    SddcGroupSpec:
      example:
        fqdn: fqdn
        name: name
        certificate: certificate
        id: id
      properties:
        id:
          description: SDDC Group identifier.
          type: string
        name:
          description: SDDC Group name.
          type: string
        fqdn:
          description: SDDC Group fqdn.
          type: string
        certificate:
          description: SDDC Group certificate.
          type: string
      required:
      - id
      - name
      type: object
    FleetDepotSpec:
      example:
        fqdn: fqdn
      properties:
        fqdn:
          type: string
      required:
      - fqdn
      title: Fleet Depot endpoint.
      type: object
    VcenterSpec:
      example:
        fqdn: fqdn
        certificate: certificate
        id: id
      properties:
        id:
          type: string
        fqdn:
          type: string
        certificate:
          description: PEM encoded certificate (chain).
          type: string
      type: object
    SddcLcms:
      example:
        pageMetadata:
          pageNumber: 5
          totalPages: 7
          pageSize: 5
          totalElements: 2
        sddcLcms:
        - sddcGroupFqdn: sddcGroupFqdn
          fqdn: fqdn
          isPrimary: true
          vspClusters:
          - fqdn: fqdn
            certificate: certificate
            id: id
            type: MANAGEMENT
          - fqdn: fqdn
            certificate: certificate
            id: id
            type: MANAGEMENT
          backupConfig:
            incrementalSchedule:
              interval: 1
              fallbackToFull: true
              enabled: true
            storage:
              sftp: ""
            retention:
              maxBackups: 1
              maxAgeBackups: 1
            fullSchedule:
              schedule:
                days:
                - MON
                - TUE
                - WED
                - THU
[...]
