openapi: 3.0.4
info:
  title: VCF SDDC LCM Service APIs
  version: 9.1.0.0
servers:
- description: VCF SDDC LCM Service
  url: https://vcf.broadcom.com/sddc-lcm
security:
- bearerToken: []
tags:
- description: SDDC LCM Health APIs.
  name: Health
- description: SDDC LCM Configuration APIs.
  name: Config
- description: SDDC LCM Depot-related APIs
  name: Depot
- description: "Component installation, import or deployment reconfiguration APIs.\
    \ These APIs are subject to change in future VCF releases. Appropriate details\
    \ around such changes will be provided."
  name: Components
- description: "Component support bundle generation, download and deletion APIs."
  name: SupportBundles
- description: Standalone node installation and reconfiguration APIs.
  name: Nodes
- description: API to Patch or Upgrade component. These APIs are subject to change
    in future VCF releases. Appropriate details around such changes will be provided.
  name: Upgrade
paths:
  /v1/health:
    get:
      description: Get the SDDC LCM health status.
      operationId: getHealth
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Health'
          description: OK
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      security: []
      tags:
      - Health
  /v1/config:
    get:
      description: "Fetch the SDDC LCM configuration, including registered components\
        \ and the associated fleet, if any."
      operationId: getConfig
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Config'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      tags:
      - Config
    post:
      description: Configure SDDC LCM by connecting it to SDDC Manager and Fleet LCM.
      operationId: setConfig
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigSpec'
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request. Invalid input specification.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      tags:
      - Config
  /v1/depot:
    post:
      description: Register Fleet Depot as a depot to components known to this SDDC
        LCM instance
      operationId: setDepot
      parameters:
      - description: Correlation ID for tracing the request across services
        explode: true
        in: header
        name: X-Correlation-Id
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FleetDepotSpec'
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request. Invalid input specification.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      tags:
      - Depot
  /v1/depot/components:
    post:
      description: Resolve component versions to binary urls given a Fleet Depot endpoint
        and a list of components with their versions
      operationId: resolveDepotComponents
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DepotComponentsSpec'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResolvedComponentVersions'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request. Invalid input specification.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      tags:
      - Depot
  /v1/components:
    get:
      description: Fetch the components registered with SDDC LCM.
      operationId: getComponents
      parameters:
      - description: Component scope to filter by.
        explode: true
        in: query
        name: scope
        required: false
        schema:
          enum:
          - FLEET
          - INSTANCE
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Components'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      tags:
      - Components
    post:
      description: Install new or import existing component(s).
      operationId: createComponents
      parameters:
      - description: Correlation ID for tracing the request across services
        explode: true
        in: header
        name: X-Correlation-Id
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComponentSpecs'
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request. Invalid input specification.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      tags:
      - Components
  /v1/components/status:
    post:
      description: Fetches the status for the components with the input IDs.
      operationId: fetchComponentStatuses
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComponentStatusesSpec'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComponentStatuses'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request. Invalid input specification.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      tags:
      - Components
  /v1/components/{componentId}:
    get:
      description: Get a Component.
      operationId: getComponent
      parameters:
      - description: Component Identifier.
        explode: true
        in: path
        name: componentId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Component'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The specified resource was not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      tags:
      - Components
    patch:
      description: Update component deployment (by adding more nodes to it).
      operationId: updateComponent
      parameters:
      - description: Correlation ID for tracing the request across services
        explode: true
        in: header
        name: X-Correlation-Id
        required: false
        schema:
          type: string
        style: simple
      - description: Component Identifier.
        explode: true
        in: path
        name: componentId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComponentUpdateSpec'
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request. Invalid input specification.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      tags:
      - Components
    post:
      description: Perform an action on a given component.
      operationId: performComponentAction
      parameters:
      - description: Correlation ID for tracing the request across services
        explode: true
        in: header
        name: X-Correlation-Id
        required: false
        schema:
          type: string
        style: simple
      - description: Component Identifier.
        explode: true
        in: path
        name: componentId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Component action to perform.
        explode: true
        in: query
        name: action
        required: true
        schema:
          enum:
          - shutdown
          - restart
          - start
          - refresh
          - precheck
          - apply
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComponentUpgradeSpec'
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      tags:
      - Components
  /v1/components/backups:
    get:
      description: Get the backups for all components.
      operationId: getComponentsBackups
      parameters:
      - description: Component ID.
        explode: true
        in: query
        name: componentId
        required: false
        schema:
          format: uuid
          type: string
        style: form
      - description: "The earliest date for which to list items, formatted as 2025-09-12T16:09:53Z."
        explode: true
        in: query
        name: periodStart
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: "The latest date for which to list items, formatted as 2025-09-12T16:09:53Z."
        explode: true
        in: query
        name: periodEnd
        required: false
        schema:
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComponentBackups'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      tags:
      - Components
    post:
      description: Initiate a backup or restore components task.
      operationId: backupRestoreComponentsAction
      parameters:
      - description: Correlation ID for tracing the request across services
        explode: true
        in: header
        name: X-Correlation-Id
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BackupRestoreSpec'
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request. Invalid input specification.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      tags:
      - Components
  /v1/components/{componentId}/config:
    get:
      description: Get a Component's config.
      operationId: getComponentConfig
      parameters:
      - description: Component Identifier.
        explode: true
        in: path
        name: componentId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComponentConfig'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The specified resource was not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      tags:
      - Components
    patch:
      description: Update a Component's config.
      operationId: updateComponentConfig
      parameters:
      - description: Correlation ID for tracing the request across services
        explode: true
        in: header
        name: X-Correlation-Id
        required: false
        schema:
          type: string
        style: simple
      - description: Component Identifier.
        explode: true
        in: path
        name: componentId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComponentConfigUpdateSpec'
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request. Invalid input specification.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      tags:
      - Components
  /v1/components/{componentId}/nodes:
    get:
      description: List a Component's nodes.
      operationId: getComponentNodes
      parameters:
      - description: Component Identifier.
        explode: true
        in: path
        name: componentId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Page Number.
        explode: true
        in: query
        name: pageNumber
        required: false
        schema:
          type: integer
        style: form
      - description: Page Size. Maximum allowed is 50.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      - description: Comma-separated list of node types
        example: "control-plane,worker"
        explode: true
        in: query
        name: nodeTypes
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Nodes'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The specified resource was not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      tags:
      - Components
  /v1/components/{componentId}/status:
    get:
      description: Get a Component's status.
      operationId: getComponentStatus
      parameters:
      - description: Component Identifier.
        explode: true
        in: path
        name: componentId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ComponentStatus'
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The specified resource was not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      tags:
      - Components
  /v1/components/{componentId}/support-bundles:
    get:
      description: Fetch the list of generated support bundles for a given component.
      operationId: getComponentSupportBundles
      parameters:
      - description: Component Identifier.
        explode: true
        in: path
        name: componentId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/SupportBundle'
                type: array
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The specified resource was not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      tags:
      - SupportBundles
    post:
      description: Generates a support bundle for a given component.
      operationId: generateComponentSupportBundle
      parameters:
      - description: Correlation ID for tracing the request across services
        explode: true
        in: header
        name: X-Correlation-Id
        required: false
        schema:
          type: string
        style: simple
      - description: Component Identifier.
        explode: true
        in: path
        name: componentId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComponentSupportBundleSpec'
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
          description: Accepted
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The specified resource was not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      tags:
      - SupportBundles
  /v1/components/{componentId}/support-bundles/{supportBundleId}:
    delete:
      description: Delete a support bundle for a given component by its ID.
      operationId: deleteComponentSupportBundle
      parameters:
      - description: Correlation ID for tracing the request across services
        explode: true
        in: header
        name: X-Correlation-Id
        required: false
        schema:
          type: string
        style: simple
      - description: Component Identifier.
        explode: true
        in: path
        name: componentId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      - description: Support Bundle Identifier.
        explode: true
        in: path
        name: supportBundleId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
          description: Accepted
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: The specified resource was not found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      tags:
      - SupportBundles
  /v1/nodes:
    post:
      description: Install new standalone node.
      operationId: createNode
      parameters:
      - description: Correlation ID for tracing the request across services
        explode: true
        in: header
        name: X-Correlation-Id
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OvaNodeSpec'
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad request. Invalid input specification.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      tags:
      - Nodes
  /v1/nodes/{nodeId}/config:
    patch:
      description: Update a node's config.
      operationId: updateNodeConfig
      parameters:
      - description: Correlation ID for tracing the request across services
        explode: true
        in: header
        name: X-Correlation-Id
        required: false
        schema:
          type: string
        style: simple
      - description: Standalone Node Identifier.
        explode: true
        in: path
        name: nodeId
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OvaNodeSizeConfigSpec'
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
          description: Accepted
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Unauthorized
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal server error
      tags:
      - Nodes
  /v1/tasks:
    get:
      description: Get all tasks
      operationId: getTasks
      parameters:
      - description: Filter tasks by status
        in: query
        name: status
        required: false
        schema:
          type: string
      - description: Filter tasks by type
        in: query
        name: type
        required: false
        schema:
          type: string
      - description: Filter tasks by creator (username or service account)
        in: query
        name: createdBy
        required: false
        schema:
          type: string
      - description: Filter tasks by name (internal name)
        in: query
        name: name
        required: false
        schema:
          type: string
      - description: Filter tasks by description (public name for the task)
        in: query
        name: description
        required: false
        schema:
          type: string
      - description: Filter tasks with start time greater than the specified timestamp
          (ISO 8601 format)
        in: query
        name: startTimeGt
        required: false
        schema:
          format: date-time
          type: string
      - description: Filter tasks with start time less than the specified timestamp
          (ISO 8601 format)
        in: query
        name: startTimeLt
        required: false
        schema:
          format: date-time
          type: string
      - description: Filter tasks with update time greater than the specified timestamp
          (ISO 8601 format)
        in: query
        name: updateTimeGt
        required: false
        schema:
          format: date-time
          type: string
      - description: Filter tasks with update time less than the specified timestamp
          (ISO 8601 format)
        in: query
        name: updateTimeLt
        required: false
        schema:
          format: date-time
          type: string
      - description: Filter tasks with end time greater than the specified timestamp
          (ISO 8601 format)
        in: query
        name: endTimeGt
        required: false
        schema:
          format: date-time
          type: string
      - description: Filter tasks with end time less than the specified timestamp
          (ISO 8601 format)
        in: query
        name: endTimeLt
        required: false
        schema:
          format: date-time
          type: string
      - description: Filter tasks by resource ID
        in: query
        name: resourceId
        required: false
        schema:
          type: string
      - description: Filter tasks by resource type
        in: query
        name: resourceType
        required: false
        schema:
          type: string
      - description: Whether to include system/internal tasks in the response. Defaults
          to false (only customer-visible tasks).
        in: query
        name: includeSystemTasks
        required: false
        schema:
          default: false
          type: boolean
      - description: Page Number.
        explode: true
        in: query
        name: pageNumber
        required: false
        schema:
          type: integer
        style: form
      - description: Page Size. Maximum allowed is 50.
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageOfTaskSummary'
          description: OK
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageOfTaskSummary'
          description: Internal Server Error
      summary: Get all tasks
      tags:
      - Task
  /v1/tasks/{taskId}:
    get:
      description: Get a task
      operationId: getTask
      parameters:
      - description: Task Id
        in: path
        name: taskId
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
          description: OK
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Get a task
      tags:
      - Task
  /v1/tasks/{taskId}?action=retry:
    post:
      description: Retry a failed task from the underlying stage that failed
      operationId: retryTask
      parameters:
      - description: Task Id
        in: path
        name: taskId
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
          description: Task retry initiated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Bad Request - Task cannot be retried (e.g., task is not in\
            \ a failed state)"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Retry a failed task
      tags:
      - Task
  /v1/tasks/{taskId}?action=cancel:
    post:
      description: "Cancel a task. The running stage will continue until it reaches\
        \ a terminal state, but subsequent stages will not be executed."
      operationId: cancelTask
      parameters:
      - description: Task Id
        in: path
        name: taskId
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
          description: Task cancellation initiated successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: "Bad Request - Task cannot be cancelled (e.g., task is already\
            \ completed or cancelled)"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not Found
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Cancel a task
      tags:
      - Task
components:
  parameters:
    AcceptLanguageHeader:
      in: header
      name: Accept-Language
      required: false
      schema:
        example: en-US
        type: string
    CorrelationIdHeader:
      description: Correlation ID for tracing the request across services
      explode: true
      in: header
      name: X-Correlation-Id
      required: false
      schema:
        type: string
      style: simple
    configActionQueryParam:
      description: Fleet LCM configuration action.
      explode: true
      in: query
      name: action
      required: false
      schema:
        enum:
        - apply
        type: string
      style: form
    componentIdPathParam:
      description: Component Identifier.
      explode: true
      in: path
      name: componentId
      required: true
      schema:
        format: uuid
        type: string
      style: simple
    componentActionQueryParam:
      description: Component action to perform.
      explode: true
      in: query
      name: action
      required: true
      schema:
        enum:
        - shutdown
        - restart
        - start
        - refresh
        - precheck
        - apply
        type: string
      style: form
    componentFilterScopeQueryParam:
      description: Component scope to filter by.
      explode: true
      in: query
      name: scope
      required: false
      schema:
        enum:
        - FLEET
        - INSTANCE
        type: string
      style: form
    componentIdQueryParam:
      description: Component ID.
      explode: true
      in: query
      name: componentId
      required: false
      schema:
        format: uuid
        type: string
      style: form
    periodStartQueryParam:
      description: "The earliest date for which to list items, formatted as 2025-09-12T16:09:53Z."
      explode: true
      in: query
      name: periodStart
      required: false
      schema:
        format: date-time
        type: string
      style: form
    periodEndQueryParam:
      description: "The latest date for which to list items, formatted as 2025-09-12T16:09:53Z."
      explode: true
      in: query
      name: periodEnd
      required: false
      schema:
        format: date-time
        type: string
      style: form
    pageNumberQueryParam:
      description: Page Number.
      explode: true
      in: query
      name: pageNumber
      required: false
      schema:
        type: integer
      style: form
    pageSizeQueryParam:
      description: Page Size. Maximum allowed is 50.
      explode: true
      in: query
      name: pageSize
      required: false
      schema:
        type: integer
      style: form
    supportBundleIdPathParam:
      description: Support Bundle Identifier.
      explode: true
      in: path
      name: supportBundleId
      required: true
      schema:
        type: string
      style: simple
    serviceAccountUsernamePathParam:
      description: Component Service Account username.
      explode: true
      in: path
      name: serviceAccountUsername
      required: true
      schema:
        type: string
      style: simple
    snapshotIdPathParam:
      description: Component Snapshot Identifier.
      explode: true
      in: path
      name: snapshotId
      required: true
      schema:
        format: uuid
        type: string
      style: simple
    nodeIdPathParam:
      description: Standalone Node Identifier.
      explode: true
      in: path
      name: nodeId
      required: true
      schema:
        format: uuid
        type: string
      style: simple
    taskStatusQueryParam:
      description: Filter tasks by status
      in: query
      name: status
      required: false
      schema:
        type: string
    taskTypeQueryParam:
      description: Filter tasks by type
      in: query
      name: type
      required: false
      schema:
        type: string
    taskCreatedByQueryParam:
      description: Filter tasks by creator (username or service account)
      in: query
      name: createdBy
      required: false
      schema:
        type: string
    taskNameQueryParam:
      description: Filter tasks by name (internal name)
      in: query
      name: name
      required: false
      schema:
        type: string
    taskDescriptionQueryParam:
      description: Filter tasks by description (public name for the task)
      in: query
      name: description
      required: false
      schema:
        type: string
    taskStartTimeGtQueryParam:
      description: Filter tasks with start time greater than the specified timestamp
        (ISO 8601 format)
      in: query
      name: startTimeGt
      required: false
      schema:
        format: date-time
        type: string
    taskStartTimeLtQueryParam:
      description: Filter tasks with start time less than the specified timestamp
        (ISO 8601 format)
      in: query
      name: startTimeLt
      required: false
      schema:
        format: date-time
        type: string
    taskUpdateTimeGtQueryParam:
      description: Filter tasks with update time greater than the specified timestamp
        (ISO 8601 format)
      in: query
      name: updateTimeGt
      required: false
      schema:
        format: date-time
        type: string
    taskUpdateTimeLtQueryParam:
      description: Filter tasks with update time less than the specified timestamp
        (ISO 8601 format)
      in: query
      name: updateTimeLt
      required: false
      schema:
        format: date-time
        type: string
    taskEndTimeGtQueryParam:
      description: Filter tasks with end time greater than the specified timestamp
        (ISO 8601 format)
      in: query
      name: endTimeGt
      required: false
      schema:
        format: date-time
        type: string
    taskEndTimeLtQueryParam:
      description: Filter tasks with end time less than the specified timestamp (ISO
        8601 format)
      in: query
      name: endTimeLt
      required: false
      schema:
        format: date-time
        type: string
    taskResourceIdQueryParam:
      description: Filter tasks by resource ID
      in: query
      name: resourceId
      required: false
      schema:
        type: string
    taskResourceTypeQueryParam:
      description: Filter tasks by resource type
      in: query
      name: resourceType
      required: false
      schema:
        type: string
    includeSystemTasksQueryParam:
      description: Whether to include system/internal tasks in the response. Defaults
        to false (only customer-visible tasks).
      in: query
      name: includeSystemTasks
      required: false
      schema:
        default: false
        type: boolean
    taskIdPathParam:
      description: Task Id
      in: path
      name: taskId
      required: true
      schema:
        format: uuid
        type: string
  responses:
    BadRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: Bad request. Invalid input specification.
    NotFound:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: The specified resource was not found
    Unauthorized:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: Unauthorized
    InternalServerError:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: Internal server error
    ServiceUnavailable:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: Unauthorized
  schemas:
    Health:
      example:
        up: true
      properties:
        up:
          type: boolean
      type: object
    ServiceStatus:
      description: A common status object to define the health of a service.
      enum:
      - HEALTHY
      - OFFLINE
      type: string
    TargetServiceType:
      description: Target service type for the service account.
      enum:
      - SDDC_MANAGER
      - VCENTER
      type: string
    ConfigSpec:
      example:
        sddcManager:
          password: password
          fqdn: fqdn
          sslThumbprint: sslThumbprint
          username: username
        fqdn: fqdn
        vspCluster:
          fleetFqdn: fleetFqdn
          sslThumbprint: sslThumbprint
          platformFqdn: platformFqdn
          instanceFqdn: instanceFqdn
        vcenter:
          password: password
          fqdn: fqdn
          sslThumbprint: sslThumbprint
          username: username
        fleetLcm:
          password: password
          fqdn: fqdn
          sslThumbprint: sslThumbprint
          opsToken: opsToken
          username: username
      properties:
        sddcManager:
          $ref: '#/components/schemas/SddcManagerEndpoint'
        vspCluster:
          $ref: '#/components/schemas/VspClusterEndpoint'
        vcenter:
          $ref: '#/components/schemas/VcenterEndpoint'
        fleetLcm:
          $ref: '#/components/schemas/FleetLcmEndpoint'
        fqdn:
          type: string
      title: SDDC LCM configuration spec.
      type: object
    SddcManagerEndpoint:
      example:
        password: password
        fqdn: fqdn
        sslThumbprint: sslThumbprint
        username: username
      properties:
        fqdn:
          type: string
        username:
          type: string
        password:
          format: password
          type: string
        sslThumbprint:
          type: string
      required:
      - fqdn
      - password
      - sslThumbprint
      - username
      title: SDDC Manager endpoint.
      type: object
    VspClusterEndpoint:
      example:
        fleetFqdn: fleetFqdn
        sslThumbprint: sslThumbprint
        platformFqdn: platformFqdn
        instanceFqdn: instanceFqdn
      properties:
        platformFqdn:
          type: string
        fleetFqdn:
          type: string
        instanceFqdn:
          type: string
        sslThumbprint:
          type: string
      required:
      - instanceFqdn
      - platformFqdn
      - sslThumbprint
      title: VSP cluster endpoint.
      type: object
    VcenterEndpoint:
      example:
        password: password
        fqdn: fqdn
        sslThumbprint: sslThumbprint
        username: username
      properties:
        fqdn:
          type: string
        username:
          type: string
        password:
          format: password
          type: string
        sslThumbprint:
          type: string
      required:
      - fqdn
      - password
      - sslThumbprint
      - username
      title: vCenter endpoint.
      type: object
    FleetLcmEndpoint:
      example:
        password: password
        fqdn: fqdn
        sslThumbprint: sslThumbprint
        opsToken: opsToken
        username: username
      properties:
        fqdn:
          type: string
        username:
          type: string
        password:
          format: password
          type: string
        opsToken:
          type: string
        sslThumbprint:
          type: string
      required:
      - fqdn
      - sslThumbprint
      title: Fleet LCM endpoint.
      type: object
    FleetDepotSpec:
      example:
        fqdn: fqdn
        certificate: certificate
      properties:
        fqdn:
          type: string
        certificate:
          description: PEM encoded certificate (chain).
          type: string
      required:
      - certificate
      - fqdn
      title: Fleet Depot endpoint.
      type: object
    DepotComponentsSpec:
      example:
        componentVersions:
        - component: component
          version: version
        - component: component
          version: version
        version: version
        fleetDepotSpec:
          fqdn: fqdn
          certificate: certificate
      properties:
        fleetDepotSpec:
          $ref: '#/components/schemas/FleetDepotSpec'
        version:
          type: string
        componentVersions:
          items:
            $ref: '#/components/schemas/ComponentVersionSpec'
          type: array
      required:
      - componentVersions
      - fleetDepotSpec
      title: Depot Components spec
      type: object
    ComponentVersionSpec:
      example:
        component: component
        version: version
      properties:
        component:
          type: string
        version:
          type: string
      required:
      - component
      type: object
    ResolvedComponentVersion:
      example:
        component: component
        version: version
        binaryUrl: binaryUrl
      properties:
        component:
          type: string
        version:
          type: string
        binaryUrl:
          type: string
      type: object
    ResolvedComponentVersions:
      example:
        componentVersions:
        - component: component
          version: version
          binaryUrl: binaryUrl
        - component: component
          version: version
          binaryUrl: binaryUrl
      properties:
        componentVersions:
          items:
            $ref: '#/components/schemas/ResolvedComponentVersion'
          type: array
      type: object
    Config:
      example:
        sddcManager:
          fqdn: fqdn
          certificate: certificate
        vspClusters:
        - fqdn: fqdn
          certificate: certificate
          id: id
          type: MANAGEMENT
        - fqdn: fqdn
          certificate: certificate
          id: id
          type: MANAGEMENT
        sddcGroupId: sddcGroupId
        vcenter:
          fqdn: fqdn
          sslThumbprint: sslThumbprint
          id: id
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        version: version
        sddcGroupName: sddcGroupName
        status: HEALTHY
        fleetLcm:
          fqdn: fqdn
          certificate: certificate
      properties:
        id:
          format: uuid
          type: string
        version:
          type: string
        status:
          $ref: '#/components/schemas/ServiceStatus'
        fleetLcm:
          $ref: '#/components/schemas/FleetLcm'
        sddcGroupId:
          description: SDDC Group identifier.
          type: string
        sddcGroupName:
          description: SDDC Group name.
          type: string
        sddcManager:
          $ref: '#/components/schemas/SddcManager'
        vcenter:
          $ref: '#/components/schemas/Vcenter'
        vspClusters:
          items:
            $ref: '#/components/schemas/VspCluster'
          type: array
      type: object
    SddcManager:
      example:
        fqdn: fqdn
        certificate: certificate
      properties:
        fqdn:
          type: string
        certificate:
          description: PEM encoded certificate (chain).
          type: string
      type: object
    FleetLcm:
      example:
        fqdn: fqdn
        certificate: certificate
      properties:
        fqdn:
          type: string
        certificate:
          description: PEM encoded certificate (chain).
          type: string
      type: object
    ComponentSupportBundleSpec:
      description: Component Support bundle Spec
      example:
        lookBackWindow: 0
      properties:
        lookBackWindow:
          type: integer
      type: object
    SupportBundle:
      example:
        size: 0
        createdTimestamp: 2000-01-23T04:56:07.000+00:00
        name: name
        id: id
        url: https://openapi-generator.tech
      properties:
        id:
          type: string
        createdTimestamp:
          description: Time when the operation is started.
          format: date-time
          type: string
        size:
          description: Size of support bundle in bytes
          format: int64
          type: integer
        name:
          description: File name of the support bundle
          type: string
        url:
          description: Download URL of the support bundle from VMSP
          format: uri
          type: string
      type: object
    ComponentSpecs:
      example:
        componentSpecs:
        - componentType: componentType
          deploymentType: deploymentType
          configSpec:
            key: ""
          nodeSpecs:
          - configSpec:
              key: ""
            deploymentMode: DEPLOY_AND_MONITOR
            nodeType: nodeType
            repository:
              downloadUrl: downloadUrl
              certificate: certificate
            version: version
            deploymentSpec:
              ipv4Settings:
                address: address
                netmask: netmask
                addressType: addressType
                gateway: gateway
              password: password
              fqdn: fqdn
              ntpServers: ntpServers
              dnsSuffix: dnsSuffix
              deploymentOption: deploymentOption
              networkName: networkName
              ipv6Settings:
                address: address
                netmask: netmask
                addressType: addressType
                force: true
                gateway: gateway
              extraConfigProperties:
                key: extraConfigProperties
              dnsServers: dnsServers
          - configSpec:
              key: ""
            deploymentMode: DEPLOY_AND_MONITOR
            nodeType: nodeType
            repository:
              downloadUrl: downloadUrl
              certificate: certificate
            version: version
            deploymentSpec:
              ipv4Settings:
                address: address
                netmask: netmask
                addressType: addressType
                gateway: gateway
              password: password
              fqdn: fqdn
              ntpServers: ntpServers
              dnsSuffix: dnsSuffix
              deploymentOption: deploymentOption
              networkName: networkName
              ipv6Settings:
                address: address
                netmask: netmask
                addressType: addressType
                force: true
                gateway: gateway
              extraConfigProperties:
                key: extraConfigProperties
              dnsServers: dnsServers
        - componentType: componentType
          deploymentType: deploymentType
          configSpec:
            key: ""
          nodeSpecs:
          - configSpec:
              key: ""
            deploymentMode: DEPLOY_AND_MONITOR
            nodeType: nodeType
            repository:
              downloadUrl: downloadUrl
              certificate: certificate
            version: version
            deploymentSpec:
              ipv4Settings:
                address: address
                netmask: netmask
                addressType: addressType
                gateway: gateway
              password: password
              fqdn: fqdn
              ntpServers: ntpServers
              dnsSuffix: dnsSuffix
              deploymentOption: deploymentOption
              networkName: networkName
              ipv6Settings:
                address: address
                netmask: netmask
                addressType: addressType
                force: true
                gateway: gateway
              extraConfigProperties:
                key: extraConfigProperties
              dnsServers: dnsServers
          - configSpec:
              key: ""
            deploymentMode: DEPLOY_AND_MONITOR
            nodeType: nodeType
            repository:
              downloadUrl: downloadUrl
              certificate: certificate
            version: version
            deploymentSpec:
              ipv4Settings:
                address: address
                netmask: netmask
                addressType: addressType
                gateway: gateway
              password: password
              fqdn: fqdn
              ntpServers: ntpServers
              dnsSuffix: dnsSuffix
              deploymentOption: deploymentOption
              networkName: networkName
              ipv6Settings:
                address: address
                netmask: netmask
                addressType: addressType
                force: true
                gateway: gateway
              extraConfigProperties:
                key: extraConfigProperties
              dnsServers: dnsServers
      properties:
        componentSpecs:
          items:
            $ref: '#/components/schemas/ComponentSpec'
          type: array
      type: object
    ComponentSpec:
      description: Component Install Spec
      discriminator:
        mapping:
          OvaComponentSpec: '#/components/schemas/OvaComponentSpec'
          VspComponentSpec: '#/components/schemas/VspComponentSpec'
          VspClusterSpec: '#/components/schemas/VspClusterSpec'
          ComponentImportSpec: '#/components/schemas/ComponentImportSpec'
        propertyName: deploymentType
      oneOf:
      - $ref: '#/components/schemas/OvaComponentSpec'
      - $ref: '#/components/schemas/VspComponentSpec'
      - $ref: '#/components/schemas/VspClusterSpec'
      - $ref: '#/components/schemas/ComponentImportSpec'
      type: object
    VspClusterSpec:
      properties:
        deploymentType:
          type: string
        version:
          type: string
        repository:
          $ref: '#/components/schemas/ComponentRepository'
        platformFqdn:
          type: string
        systemUserPassword:
          format: password
          type: string
        size:
          type: string
        ipv4Pool:
          $ref: '#/components/schemas/VspClusterIPv4Pool'
        ipv6Pool:
          $ref: '#/components/schemas/VspClusterIPv6Pool'
        internalClusterCidrIpv4:
          type: string
        internalClusterCidrIpv6:
          type: string
        fleetFqdn:
          type: string
        instanceFqdn:
          type: string
        name:
          type: string
        networkMoId:
          type: string
        gatewayCidrIpv4:
          type: string
        gatewayCidrIpv6:
          type: string
        dnsServers:
          items:
            type: string
          nullable: true
          type: array
        ntpServers:
          items:
            type: string
          nullable: true
          type: array
        clusterId:
          format: uuid
          type: string
      required:
      - deploymentType
      type: object
    VspClusterIPv4Pool:
      properties:
        cidr:
          type: string
        ipRange:
          $ref: '#/components/schemas/VspClusterIpRange'
        addresses:
          items:
            type: string
          type: array
        excludedAddresses:
          items:
            type: string
          type: array
      type: object
    VspClusterIpRange:
      properties:
        startIpAddress:
          type: string
        endIpAddress:
          type: string
      type: object
    VspClusterIPv6Pool:
      properties:
        cidr:
          type: string
        ipv6Range:
          $ref: '#/components/schemas/VspClusterIpRangeV6'
        addresses:
          items:
            type: string
          type: array
        excludedAddresses:
          items:
            type: string
          type: array
      type: object
    VspClusterIpRangeV6:
      properties:
        startIpAddress:
          type: string
        endIpAddress:
          type: string
      type: object
    VspComponentSpec:
      properties:
        componentId:
          format: uuid
          type: string
        deploymentType:
          type: string
        componentType:
          type: string
        version:
          type: string
        size:
          type: string
        repository:
          $ref: '#/components/schemas/ComponentRepository'
        fqdn:
          type: string
        componentNamespace:
          type: string
        configSpec:
          additionalProperties: true
          type: object
        vspClusterSpec:
          $ref: '#/components/schemas/VspClusterSpec'
      required:
      - componentType
      - deploymentType
      - repository
      - version
      type: object
    OvaComponentSpec:
      example:
        componentType: componentType
        deploymentType: deploymentType
        configSpec:
          key: ""
        nodeSpecs:
        - configSpec:
            key: ""
          deploymentMode: DEPLOY_AND_MONITOR
          nodeType: nodeType
          repository:
            downloadUrl: downloadUrl
            certificate: certificate
          version: version
          deploymentSpec:
            ipv4Settings:
              address: address
              netmask: netmask
              addressType: addressType
              gateway: gateway
            password: password
            fqdn: fqdn
            ntpServers: ntpServers
            dnsSuffix: dnsSuffix
            deploymentOption: deploymentOption
            networkName: networkName
            ipv6Settings:
              address: address
              netmask: netmask
              addressType: addressType
              force: true
              gateway: gateway
            extraConfigProperties:
              key: extraConfigProperties
            dnsServers: dnsServers
        - configSpec:
            key: ""
          deploymentMode: DEPLOY_AND_MONITOR
          nodeType: nodeType
          repository:
            downloadUrl: downloadUrl
            certificate: certificate
          version: version
          deploymentSpec:
            ipv4Settings:
              address: address
              netmask: netmask
              addressType: addressType
              gateway: gateway
            password: password
            fqdn: fqdn
            ntpServers: ntpServers
            dnsSuffix: dnsSuffix
            deploymentOption: deploymentOption
            networkName: networkName
            ipv6Settings:
              address: address
              netmask: netmask
              addressType: addressType
              force: true
              gateway: gateway
            extraConfigProperties:
              key: extraConfigProperties
            dnsServers: dnsServers
      properties:
        deploymentType:
          type: string
        componentType:
          type: string
        nodeSpecs:
          items:
            $ref: '#/components/schemas/OvaNodeSpec'
          type: array
        configSpec:
          additionalProperties: true
          type: object
      required:
      - componentType
      - deploymentType
      - nodeSpecs
      type: object
    OvaComponentUpdateSpec:
      example:
        componentType: componentType
        deploymentType: deploymentType
        configSpec:
          key: ""
        nodeSpecs:
        - configSpec:
            key: ""
          deploymentMode: DEPLOY_AND_MONITOR
          nodeType: nodeType
          repository:
            downloadUrl: downloadUrl
            certificate: certificate
          version: version
          deploymentSpec:
            ipv4Settings:
              address: address
              netmask: netmask
              addressType: addressType
              gateway: gateway
            password: password
            fqdn: fqdn
            ntpServers: ntpServers
            dnsSuffix: dnsSuffix
            deploymentOption: deploymentOption
            networkName: networkName
            ipv6Settings:
              address: address
              netmask: netmask
              addressType: addressType
              force: true
              gateway: gateway
            extraConfigProperties:
              key: extraConfigProperties
            dnsServers: dnsServers
        - configSpec:
            key: ""
          deploymentMode: DEPLOY_AND_MONITOR
          nodeType: nodeType
          repository:
            downloadUrl: downloadUrl
            certificate: certificate
          version: version
          deploymentSpec:
            ipv4Settings:
              address: address
              netmask: netmask
              addressType: addressType
              gateway: gateway
            password: password
            fqdn: fqdn
            ntpServers: ntpServers
            dnsSuffix: dnsSuffix
            deploymentOption: deploymentOption
            networkName: networkName
            ipv6Settings:
              address: address
              netmask: netmask
              addressType: addressType
              force: true
              gateway: gateway
            extraConfigProperties:
              key: extraConfigProperties
            dnsServers: dnsServers
      properties:
        deploymentType:
          type: string
        componentType:
          type: string
        nodeSpecs:
          items:
            $ref: '#/components/schemas/OvaNodeSpec'
          type: array
        configSpec:
          additionalProperties: true
          type: object
      required:
      - componentType
      - deploymentType
      - nodeSpecs
      type: object
    OvaNodeSpec:
      example:
        configSpec:
          key: ""
        deploymentMode: DEPLOY_AND_MONITOR
        nodeType: nodeType
        repository:
          downloadUrl: downloadUrl
          certificate: certificate
        version: version
        deploymentSpec:
          ipv4Settings:
            address: address
            netmask: netmask
            addressType: addressType
            gateway: gateway
          password: password
          fqdn: fqdn
          ntpServers: ntpServers
          dnsSuffix: dnsSuffix
          deploymentOption: deploymentOption
          networkName: networkName
          ipv6Settings:
            address: address
            netmask: netmask
            addressType: addressType
            force: true
            gateway: gateway
          extraConfigProperties:
            key: extraConfigProperties
          dnsServers: dnsServers
      properties:
        nodeType:
          type: string
        version:
          type: string
        repository:
          $ref: '#/components/schemas/ComponentRepository'
        deploymentSpec:
          $ref: '#/components/schemas/OvaDeploymentSpec'
        configSpec:
          additionalProperties: true
          type: object
        deploymentMode:
          enum:
          - DEPLOY_AND_MONITOR
          - DEPLOY_ONLY
          - MONITOR_ONLY
          type: string
      required:
      - deploymentSpec
      - nodeType
      - repository
      - version
      type: object
    OvaDeploymentSpec:
      example:
        ipv4Settings:
          address: address
          netmask: netmask
          addressType: addressType
          gateway: gateway
        password: password
        fqdn: fqdn
        ntpServers: ntpServers
        dnsSuffix: dnsSuffix
        deploymentOption: deploymentOption
        networkName: networkName
        ipv6Settings:
          address: address
          netmask: netmask
          addressType: addressType
          force: true
          gateway: gateway
        extraConfigProperties:
          key: extraConfigProperties
        dnsServers: dnsServers
      properties:
        fqdn:
          type: string
        password:
          format: password
          type: string
        deploymentOption:
          type: string
        dnsServers:
          type: string
        ntpServers:
          type: string
        dnsSuffix:
          type: string
        ipv4Settings:
          $ref: '#/components/schemas/IPv4Settings'
        ipv6Settings:
          $ref: '#/components/schemas/IPv6Settings'
        networkName:
          type: string
        extraConfigProperties:
          additionalProperties:
            type: string
          description: Extra OVF Properties to pass during OVA deployment.
          type: object
      type: object
    IPv4Settings:
      example:
        address: address
        netmask: netmask
        addressType: addressType
        gateway: gateway
      properties:
        addressType:
          type: string
        address:
          type: string
        gateway:
          type: string
        netmask:
          type: string
      type: object
    IPv6Settings:
      example:
        address: address
        netmask: netmask
        addressType: addressType
        force: true
        gateway: gateway
      properties:
        force:
          type: boolean
        addressType:
          type: string
        address:
          type: string
        gateway:
          type: string
        netmask:
          type: string
      type: object
    ComponentRepository:
      example:
        downloadUrl: downloadUrl
        certificate: certificate
      properties:
        downloadUrl:
          type: string
        certificate:
          description: PEM encoded certificate (chain).
          type: string
      type: object
    ComponentConfigSpec:
      additionalProperties: true
      type: object
    ComponentImportSpec:
      description: Component Import Spec
      properties:
        deploymentType:
          type: string
        componentType:
          type: string
        version:
          type: string
        repository:
          $ref: '#/components/schemas/ComponentRepository'
        fqdn:
          type: string
        sslThumbprint:
          type: string
        certificate:
          type: string
        username:
          type: string
        password:
          format: password
          type: string
        size:
          type: string
        vmId:
          type: string
      required:
      - componentType
      - deploymentType
      - fqdn
      - password
      type: object
    ComponentUpdateSpec:
      description: Component deployment update spec
      discriminator:
        mapping:
          OvaComponentUpdateSpec: '#/components/schemas/OvaComponentUpdateSpec'
        propertyName: deploymentType
      oneOf:
      - $ref: '#/components/schemas/OvaComponentUpdateSpec'
      type: object
    ComponentStatusesSpec:
      example:
        componentIds:
        - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        - 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        componentIds:
          items:
            format: uuid
            type: string
          type: array
      type: object
    Components:
      example:
        components:
        - componentType: componentType
          deploymentType: OVA
          nodes:
          - size: size
            fqdn: fqdn
            ipAddress: ipAddress
            name: name
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            nodeType: nodeType
            version: version
            status: status
          - size: size
            fqdn: fqdn
            ipAddress: ipAddress
            name: name
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            nodeType: nodeType
            version: version
            status: status
          size: size
          fqdn: fqdn
          scope: FLEET
          certificate: certificate
          vspCluster:
            fqdn: fqdn
            certificate: certificate
            id: id
            type: MANAGEMENT
          vcenter:
            fqdn: fqdn
            sslThumbprint: sslThumbprint
            id: id
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          version: version
        - componentType: componentType
          deploymentType: OVA
          nodes:
          - size: size
            fqdn: fqdn
            ipAddress: ipAddress
            name: name
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            nodeType: nodeType
            version: version
            status: status
          - size: size
            fqdn: fqdn
            ipAddress: ipAddress
            name: name
            id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
            nodeType: nodeType
            version: version
            status: status
          size: size
          fqdn: fqdn
          scope: FLEET
          certificate: certificate
          vspCluster:
            fqdn: fqdn
            certificate: certificate
            id: id
            type: MANAGEMENT
          vcenter:
            fqdn: fqdn
            sslThumbprint: sslThumbprint
            id: id
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          version: version
      properties:
        components:
          items:
            $ref: '#/components/schemas/Component'
          type: array
      type: object
    Component:
      description: Installed Component subject to lifecycle.
      example:
        componentType: componentType
        deploymentType: OVA
        nodes:
        - size: size
          fqdn: fqdn
          ipAddress: ipAddress
          name: name
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          nodeType: nodeType
          version: version
          status: status
        - size: size
          fqdn: fqdn
          ipAddress: ipAddress
          name: name
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          nodeType: nodeType
          version: version
          status: status
        size: size
        fqdn: fqdn
        scope: FLEET
        certificate: certificate
        vspCluster:
          fqdn: fqdn
          certificate: certificate
          id: id
          type: MANAGEMENT
        vcenter:
          fqdn: fqdn
          sslThumbprint: sslThumbprint
          id: id
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        version: version
      properties:
        id:
          description: Component Identifier.
          format: uuid
          type: string
        componentType:
          description: Component Type.
          type: string
        deploymentType:
          description: Deployment Type.
          enum:
          - OVA
          - VSP
          type: string
        version:
          description: Component Version.
          type: string
        size:
          description: Component Size (e.g. Small/Medium/Large).
          type: string
        fqdn:
          description: Component FQDN.
          type: string
        certificate:
          description: PEM encoded certificate (chain).
          type: string
        nodes:
          description: Nodes forming a Component (cluster) (mostly applicable for
            OVA components or VSP cluster itself).
          items:
            $ref: '#/components/schemas/Node'
          type: array
        scope:
          description: Scope of the component - either FLEET or INSTANCE level.
          enum:
          - FLEET
          - INSTANCE
          type: string
        vcenter:
          $ref: '#/components/schemas/Vcenter'
        vspCluster:
          $ref: '#/components/schemas/VspCluster'
      title: Component
      type: object
    Nodes:
      example:
        nodes:
        - size: size
          fqdn: fqdn
          ipAddress: ipAddress
          name: name
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          nodeType: nodeType
          version: version
          status: status
        - size: size
          fqdn: fqdn
          ipAddress: ipAddress
          name: name
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          nodeType: nodeType
          version: version
          status: status
        pageMetadata:
          pageNumber: 0
          totalPages: 5
          pageSize: 6
          totalElements: 1
      properties:
        nodes:
          description: Nodes forming a Component (cluster) (mostly applicable for
            OVA components or VSP cluster itself).
          items:
            $ref: '#/components/schemas/Node'
          type: array
        pageMetadata:
          $ref: '#/components/schemas/PageMetadata'
      type: object
    Node:
      example:
        size: size
        fqdn: fqdn
        ipAddress: ipAddress
        name: name
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        nodeType: nodeType
        version: version
        status: status
      properties:
        nodeType:
          description: Type of the node.
          type: string
        id:
          description: Node Id.
          format: uuid
          type: string
        version:
          description: Version of the node.
          type: string
        fqdn:
          description: Node FQDN.
          type: string
        ipAddress:
          description: Node Ip Address.
          type: string
        status:
          description: The status of the node.
          type: string
        name:
          description: Node name
          type: string
        size:
          description: Node size.
          type: string
      type: object
    Vcenter:
      example:
        fqdn: fqdn
        sslThumbprint: sslThumbprint
        id: id
      properties:
        id:
          type: string
        fqdn:
          type: string
        sslThumbprint:
          description: The certificate's sha1 fingerprint
          type: string
      type: object
    VspCluster:
      example:
        fqdn: fqdn
        certificate: certificate
        id: id
        type: MANAGEMENT
      properties:
        id:
          type: string
        fqdn:
          type: string
        certificate:
          description: PEM encoded certificate (chain).
          type: string
        type:
          enum:
          - MANAGEMENT
          - CONSUMPTION
          type: string
      type: object
    ComponentConfig:
      description: Component's current configuration
      discriminator:
        mapping:
          OvaComponentConfig: '#/components/schemas/OvaComponentConfig'
          VspComponentConfig: '#/components/schemas/VspComponentConfig'
          VspClusterConfig: '#/components/schemas/VspClusterConfig'
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/OvaComponentConfig'
      - $ref: '#/components/schemas/VspComponentConfig'
      - $ref: '#/components/schemas/VspClusterConfig'
      type: object
    ComponentConfigUpdateSpec:
      description: Component Config Update Spec
      discriminator:
        mapping:
          OvaComponentConfigSpec: '#/components/schemas/OvaComponentConfigSpec'
          VspComponentConfigSpec: '#/components/schemas/VspComponentConfigSpec'
          VspClusterConfigSpec: '#/components/schemas/VspClusterConfigSpec'
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/OvaComponentConfigSpec'
      - $ref: '#/components/schemas/VspComponentConfigSpec'
      - $ref: '#/components/schemas/VspClusterConfigSpec'
      type: object
    VcenterPlacement:
      example:
        cluster: cluster
        datastore: datastore
        vmFolder: vmFolder
        vcenter:
          fqdn: fqdn
          sslThumbprint: sslThumbprint
          id: id
        datacenter: datacenter
        network: ""
        resourcePool: resourcePool
      properties:
        vcenter:
          $ref: '#/components/schemas/Vcenter'
        cluster:
          description: vCenter Cluster
          type: string
        datacenter:
          description: the vSphere datacenter
          type: string
        datastore:
          description: the vSphere datastore
          type: string
        vmFolder:
          description: the VM folder
          type: string
        network:
          default: ""
          description: the VM network
          type: string
        resourcePool:
          description: the vSphere resource pool
          type: string
      type: object
    OvaComponentConfig:
      example:
        size: size
        ntpServers:
        - ntpServers
        - ntpServers
        ceip: true
        placement:
          cluster: cluster
          datastore: datastore
          vmFolder: vmFolder
          vcenter:
            fqdn: fqdn
            sslThumbprint: sslThumbprint
            id: id
          datacenter: datacenter
          network: ""
          resourcePool: resourcePool
        type: type
        dnsServers:
        - dnsServers
        - dnsServers
      properties:
        type:
          type: string
        size:
          type: string
        placement:
          $ref: '#/components/schemas/VcenterPlacement'
        dnsServers:
          description: list of DNS nameservers
          items:
            type: string
          maxLength: 3
          type: array
        ntpServers:
          description: list of Ntp servers
          items:
            type: string
          type: array
        ceip:
          description: CEIP status
          type: boolean
      required:
      - type
      type: object
    OvaComponentConfigSpec:
      description: OVA component config spec
      example:
        nodeSizes:
        - nodeName: nodeName
          numCores: 0
          additionalDiskDatastoreId: additionalDiskDatastoreId
          size: size
          additionalDiskSize: 1
          configMode: CONFIG_AND_PERSIST
          memoryGb: 6
          nodeType: nodeType
          nodeId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        - nodeName: nodeName
          numCores: 0
          additionalDiskDatastoreId: additionalDiskDatastoreId
          size: size
          additionalDiskSize: 1
          configMode: CONFIG_AND_PERSIST
          memoryGb: 6
          nodeType: nodeType
          nodeId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        type: type
      properties:
        type:
          type: string
        nodeSizes:
          items:
            $ref: '#/components/schemas/OvaNodeSizeConfigSpec'
          type: array
      required:
      - nodeSizes
      - type
      type: object
    OvaNodeSizeConfigSpec:
      description: OVA component disk spec
      example:
        nodeName: nodeName
        numCores: 0
        additionalDiskDatastoreId: additionalDiskDatastoreId
        size: size
        additionalDiskSize: 1
        configMode: CONFIG_AND_PERSIST
        memoryGb: 6
        nodeType: nodeType
        nodeId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        nodeId:
          description: ID of the node to resize
          format: uuid
          type: string
        nodeName:
          description: Node name
          type: string
        nodeType:
          description: Node type
          type: string
        size:
          description: Size of the node (e.g. Small/Medium/Large)
          type: string
        numCores:
          type: integer
        memoryGb:
          type: integer
        additionalDiskSize:
          description: Size of the VMDK to be added to the node
          format: int64
          type: integer
        additionalDiskDatastoreId:
          description: Datastore Managed Object ID for the additional disk to land
            on
          type: string
        configMode:
          enum:
          - CONFIG_AND_PERSIST
          - CONFIG_ONLY
          - PERSIST_ONLY
          type: string
      required:
      - additionalDiskSize
      - nodeId
      - size
      type: object
    VspComponentConfig:
      properties:
        type:
          type: string
        size:
          type: string
        ceip:
          description: CEIP status
          type: boolean
        configSpec:
          additionalProperties: true
          type: object
        volumes:
          items:
            $ref: '#/components/schemas/VspVolume'
          type: array
      required:
      - type
      type: object
    VspComponentConfigSpec:
      description: VSP component config spec
      properties:
        type:
          type: string
        size:
          type: string
        volumes:
          items:
            $ref: '#/components/schemas/VspVolumeBase'
          type: array
        configSpec:
          additionalProperties: true
          type: object
      required:
      - type
      type: object
    VspClusterConfigBase:
      description: VSP Cluster config spec
      properties:
        type:
          type: string
        size:
          type: string
        ipv4Pool:
          description: list of cluster nodes IPv4 addresses
          items:
            type: string
          type: array
        ipv6Pool:
          description: list of cluster nodes IPv6 addresses
          items:
            type: string
          type: array
        dnsServers:
          description: list of DNS servers to be used by the cluster nodes
          items:
            type: string
          maxLength: 3
          type: array
        ntpServers:
          description: list of NTP servers to be used by the cluster nodes
          items:
            type: string
          type: array
        platformIngress:
          $ref: '#/components/schemas/VspClusterIngress'
        fleetIngress:
          $ref: '#/components/schemas/VspClusterIngress'
        instanceIngress:
          $ref: '#/components/schemas/VspClusterIngress'
        backupConfigSpec:
          $ref: '#/components/schemas/BackupConfigSpec'
        peerProxy:
          $ref: '#/components/schemas/PeerProxy'
        ceip:
          description: CEIP status
          type: boolean
      required:
      - type
      title: VSP Cluster config spec
      type: object
    VspClusterConfig:
      allOf:
      - $ref: '#/components/schemas/VspClusterConfigBase'
      - properties:
          type:
            type: string
          volumes:
            $ref: '#/components/schemas/VspVolumes'
          placement:
            $ref: '#/components/schemas/VcenterPlacement'
          gateway:
            description: Global address pool network gateway (IPv4)
            type: string
          prefix:
            description: Global address pool network prefix (IPv4)
            type: string
          ipv6Gateway:
            description: Global address pool network gateway (IPv6)
            type: string
          ipv6Prefix:
            description: Global address pool network prefix (IPv6)
            type: string
        type: object
      description: VSP Cluster config spec
      title: VSP Cluster config spec
    VspClusterConfigSpec:
      allOf:
      - $ref: '#/components/schemas/VspClusterConfigBase'
      - properties:
          type:
            type: string
          volumes:
            $ref: '#/components/schemas/VspVolumesSpec'
        type: object
      description: VSP Cluster config spec
      title: VSP Cluster config spec
    VspClusterIngress:
      properties:
        fqdn:
          type: string
        certificate:
          description: PEM formatted certificate chain of the VSP cluster
          type: string
        vipAddresses:
          $ref: '#/components/schemas/VspClusterVipAddresses'
      type: object
    VspClusterVipAddresses:
      properties:
        ipv4Addresses:
          description: IPv4 addresses
          items:
            type: string
          type: array
        ipv6Addresses:
          description: IPv6 addresses
          items:
            type: string
          type: array
      type: object
    PeerProxy:
      description: Internet proxy configuration for VSP cluster
      properties:
        host:
          description: "Internet proxy server host, e.g. proxy.example.com"
          type: string
        port:
          description: "Internet proxy server port number, e.g. 3128"
          type: integer
        tlsEnabled:
          description: Enable TLS for Internet Proxy Server
          type: boolean
        credentialsEnabled:
          description: Enable credentials for Internet Proxy Server
          type: boolean
        username:
          description: Username to connect to Internet Proxy Server
          type: string
        password:
          description: Password to connect to Internet Proxy Server
          format: password
          type: string
        encodedCertificate:
          description: Base64 encoded Server certificate in PEM format for Internet
            Proxy Server
          type: string
        excludeDomains:
          description: Comma-separated list of Domains to exclude from Internet proxy
            server
          type: string
        excludeIpAddresses:
          description: Comma-separated list of IP Addresses to exclude from Internet
            proxy server
          type: string
      type: object
    VspVolumes:
      items:
        $ref: '#/components/schemas/VspVolume'
      type: array
    VspVolume:
      allOf:
      - $ref: '#/components/schemas/VspVolumeBase'
      - properties:
          name:
            description: the volume's name
            type: string
          used:
            description: consumed storage in bytes
            format: int64
            type: integer
          totalCapacity:
            description: the total capacity in bytes
            format: int64
            type: integer
          count:
            description: the number of volumes of the same type
            format: int64
            type: integer
          description:
            description: the volume's description
            type: string
        type: object
    VspVolumesSpec:
      items:
        $ref: '#/components/schemas/VspVolumeBase'
      type: array
    VspVolumeBase:
      properties:
        id:
          description: the volume's id
          type: string
        capacity:
          description: size in bytes. must be multiple of KiB when updating the volume
            capacity
          format: int64
          type: integer
      type: object
    ComponentCredentials:
      description: Credentials for a component.
      properties:
        username:
          type: string
        password:
          format: password
          type: string
      type: object
    ComponentStatuses:
      description: Component current statuses
      example:
        componentStatuses:
        - id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          status: Unknown
        - id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          status: Unknown
      properties:
        componentStatuses:
          items:
            $ref: '#/components/schemas/ComponentStatus'
          type: array
      type: object
    ComponentStatus:
      description: Component current status
      example:
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        status: Unknown
      properties:
        id:
          description: Component Identifier.
          format: uuid
          type: string
        status:
          description: The component status.
          enum:
          - Unknown
          - NotRunning
          - Running
          type: string
      type: object
    BackupConfigSpec:
      description: Backup configuration for a component/cluster.
      properties:
        encryptionPassphrase:
          description: Passphrase for encrypting the backups.
          type: string
        fullSchedule:
          $ref: '#/components/schemas/FullBackupConfigSpec'
        incrementalSchedule:
          $ref: '#/components/schemas/IncrementalBackupConfigSpec'
        retention:
          $ref: '#/components/schemas/BackupRetentionConfigSpec'
        storage:
          $ref: '#/components/schemas/BackupStorageConfigSpec'
      type: object
    FullBackupConfigSpec:
      description: Configuration for full backups.
      properties:
        enabled:
          description: Shows if the full backups are enabled.
          type: boolean
        schedule:
          $ref: '#/components/schemas/BackupScheduleSpec'
      type: object
    BackupScheduleSpec:
      description: Backup schedule configuration.
      properties:
        startTime:
          description: The time of the day when the backup should be created.
          format: time
          type: string
        days:
          description: The days on which a backup should be created. Pass all values
            for every day.
          example:
          - MON
          - TUE
          - WED
          - THU
          - FRI
          - SAT
          - SUN
          items:
            enum:
            - MON
            - TUE
            - WED
            - THU
            - FRI
            - SAT
            - SUN
            type: string
          type: array
      type: object
    IncrementalBackupConfigSpec:
      description: Configuration for incremental backups. Incremental backups require
        full backups to be enabled.
      properties:
        enabled:
          description: Shows if the incremental backups are enabled.
          type: boolean
        fallbackToFull:
          description: Shows whether to fallback to a full backup.
          type: boolean
        interval:
          default: 15
          description: Interval in minutes for an incremental backup to be created.
          minimum: 1
          type: integer
      type: object
    BackupRetentionConfigSpec:
      description: Retention configuration for backups. The properties are mutually
        exclusive.
      properties:
        maxBackups:
          description: Number of backups that would be kept.
          minimum: 1
          type: integer
        maxAgeBackups:
          description: Number of days for which a backup would be kept.
          minimum: 1
          type: integer
      type: object
    BackupStorageConfigSpec:
      description: Storage configurations for backups.
      properties:
        sftp:
          $ref: '#/components/schemas/SftpStorageConfigSpec'
      type: object
    SftpStorageConfigSpec:
      description: Configuration for SFTP storage.
      properties:
        host:
          description: The address of the SFTP server.
          type: string
        port:
          description: The port of the SFTP server.
          type: string
        thumbprint:
          description: The thumbprint of the SFTP server.
          type: string
        username:
          description: The username used for authentication with the SFTP server.
          type: string
        password:
          description: The password used for authentication with the SFTP server.
          format: password
          type: string
        directory:
          description: Directory on the SFTP server where the objects will be stored.
          type: string
      type: object
    ComponentSnapshotSpec:
      description: Create or revert Snapshot spec.
      discriminator:
        mapping:
          ComponentSnapshotCreateSpec: '#/components/schemas/ComponentSnapshotCreateSpec'
          ComponentSnapshotRevertSpec: '#/components/schemas/ComponentSnapshotRevertSpec'
        propertyName: actionType
      oneOf:
      - $ref: '#/components/schemas/ComponentSnapshotCreateSpec'
      - $ref: '#/components/schemas/ComponentSnapshotRevertSpec'
      type: object
    ComponentSnapshotCreateSpec:
      description: Spec for creation of a Snapshot of a Component.
      properties:
        actionType:
          type: string
        snapshotPrefix:
          description: User friendly prefix used for the Snapshot name.
          type: string
        snapshotDescription:
          description: User friendly description of the Snapshot.
          type: string
        shouldSnapshotWithMemory:
          description: Flag that indicates if the Snapshot has to be taken along with
            memory of the Component.
          type: boolean
        shouldShutdownBeforeSnapshot:
          description: Flag that indicates if the Component has to be gracefully shutdown
            before taking the Snapshot.
          type: boolean
      required:
      - actionType
      - snapshotPrefix
      type: object
    ComponentSnapshotRevertSpec:
      description: Spec for revert using a Snapshot of a Component.
      properties:
        actionType:
          type: string
        snapshotId:
          format: uuid
          type: string
      required:
      - actionType
      - snapshotId
      type: object
    ComponentSnapshot:
      description: Details of a Snapshot of a Component.
      properties:
        name:
          description: "Snapshot name, formatted as 2025-09-12T16-09-53Z along with\
            \ a prefix."
          type: string
        description:
          description: User friendly description of the Snapshot.
          type: string
        snapshotId:
          description: Snapshot ID.
          format: uuid
          type: string
        componentType:
          description: Component Type.
          type: string
        componentId:
          description: Component ID.
          format: uuid
          type: string
      type: object
    BackupRestoreSpec:
      description: Backup and Restore Spec
      discriminator:
        mapping:
          ComponentsBackupSpec: '#/components/schemas/ComponentsBackupSpec'
          ComponentsRestoreSpec: '#/components/schemas/ComponentsRestoreSpec'
        propertyName: actionType
      oneOf:
      - $ref: '#/components/schemas/ComponentsBackupSpec'
      - $ref: '#/components/schemas/ComponentsRestoreSpec'
      type: object
    ComponentsBackupSpec:
      description: Request for backup of multiple Components.
      example:
        actionType: actionType
        componentIds:
        - componentIds
        - componentIds
      properties:
        actionType:
          type: string
        componentIds:
          description: List of Component IDs. Empty list means all Components.
          items:
            type: string
          type: array
      required:
      - actionType
      - componentIds
      type: object
    ComponentBackups:
      example:
        backups:
        - path: path
          componentType: vidb
          componentId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          name: name
          componentVersion: 9.1.0.0
          points:
          - points
          - points
        - path: path
          componentType: vidb
          componentId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
          name: name
          componentVersion: 9.1.0.0
          points:
          - points
          - points
      properties:
        backups:
          items:
            $ref: '#/components/schemas/ComponentBackup'
          type: array
      type: object
    ComponentBackup:
      description: Details for a backup of a Component.
      example:
        path: path
        componentType: vidb
        componentId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        name: name
        componentVersion: 9.1.0.0
        points:
        - points
        - points
      properties:
        name:
          description: "Backup date, formatted as 2025-09-12T16-09-53Z."
          type: string
        path:
          description: Path to the backup directory.
          type: string
        points:
          items:
            description: "Restore point date/time, formatted as 2025-09-12T16-09-53Z."
            type: string
          type: array
        componentType:
          description: Component type.
          example: vidb
          type: string
        componentId:
          description: Component ID.
          format: uuid
          type: string
        componentVersion:
          description: Component version.
          example: 9.1.0.0
          type: string
      type: object
    ComponentsRestoreSpec:
      description: Components restore specification
      properties:
        actionType:
          type: string
        components:
          description: Components to restore.
          items:
            $ref: '#/components/schemas/RestoreBackupSpec'
          type: array
        encryptionPassphrase:
          description: Passphrase for decrypting the backups.
          type: string
      required:
      - actionType
      - components
      type: object
    RestoreBackupSpec:
      description: Restore backup specification.
      properties:
        componentId:
          description: Component ID
          type: string
        componentType:
          description: Component type
[...]
